
/* Colors
  ======================================================================== */

$orange-main: #FF832A;
$orange-dark: #F2751C;

$blue-main: #4C6EF5;
$blue-dark: #4263EB

$black: #343A40;
$border-grey: #DEE2E6;
$bg-grey: #F8F9FA;


/* Font
  ======================================================================== */

$font: "Ubuntu", -apple-system, Arial, sans-serif;
