// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: $orange-main;
    border-radius: 5px;
}

body {
    padding-top: 70px;
    font-family: $font;
    color: $black;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    @media screen and ( max-width: 640px) {
        padding-top: 56px;
    }
}
.fix {
    overflow: hidden;
}

.wrapper {
    margin: auto;
    width: 100%;
    max-width: 1120px;
}

.grey-bg {
    background-color: $grey-bg;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select, {
    font-family: $font;
    border: 1px solid $grey-border;
    background-color: $white;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    padding: 10px 16px;
    font-weight: 300;
    font-size: 16px;
    transition: border 300ms,
                box-shadow 500ms;
    &:hover{
        border-color: $orange-dark;
    }
    &:focus{
        border-color: $orange-dark;
        box-shadow: 0 6px 16px rgba(255, 131, 42, 0.16);
        // box-shadow: 0 3px 20px rgba(255, 131, 142, .3);
    }
}