.button {
    display: inline-block;
    height: 45px;
    padding: 0 20px;
    border-radius: 4px;
    transition: 300ms;
    cursor: pointer;
    font: 16px/42px $font;
    text-decoration: none !important;
    text-align: center;
    min-width: 240px;
    border: none;
    font-weight: 700;
    &:not(.clear){
        color: $white;
    }
    use{
        transition: 300ms;
    }
    &.orange {
        background-color: $orange-main;
        box-shadow: 0 6px 20px rgba($orange-main, 0.42);
    }
    &.blue {
        background-color: $blue-main;
        box-shadow: 0 6px 20px rgba(76, 110, 245, 0.42);
    }
    &.dust{
        background-color: #d66c20;
    }
    &:hover:not(.clear){
        &.orange {
            background-color: $orange-dark;
            border-color: $orange-dark;
        }
        &.blue {
            background-color: $blue-dark;
            border-color: $blue-dark;
        }
    }
    /* Buttons - border  ======================================================================== */
    &.border {
        line-height: 40px;
        border: 2px solid transparent;
        background-color: transparent;
        box-shadow: none;
        &.slim{
            font-weight: 400;
        }
        &.orange {
            color: $orange-dark;
            border-color: $orange-main;
        }
        &.blue {
            color: $blue-dark;
            border-color: $blue-main;
        }
        &:hover {
            &.orange {
                color: $white;
                background-color: $orange-main;
                use {
                    fill: $white;
                }
            }
            &.blue {
                color: $white;
                background-color: $blue-main;
                use {
                    fill: $white;
                }
            }
        }
    }
    &.slim {
        min-width: 170px;
        height: 35px;
        line-height: 30px;
    }

    
    /* Buttons - icon  ======================================================================== */
    &.icon {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        text-align: left;
        i {
            display: flex;
            align-items: center;
        }
    }
    // &.width-icon {
    //     width: 100%;
    //     padding-left: 16px;
    //     background-image: url(../assets/images/arrow-right-white.svg);
    //     background-position: calc( 100% - 16px) 16px;
    //     background-repeat: no-repeat;
    //     text-align: left;
    //     background-size: 20px;
    //     max-width: 250px;
    // }
    i{
        margin-left: 15px;
        vertical-align: middle;
        display: inline-block;
    }
    &.wide{
        width: 100%;
    }
    &.baseline{
        i{
            vertical-align: baseline;
        }
    }
    &.clear{
        padding-left: 0;
        min-width: auto;
        background: none;
        box-shadow: none;
        i{
            margin-left: 10px;
        }
        &.blue{
            color: $blue-main;
            &:hover{
                color: $blue-dark;
                use{
                    fill: $blue-dark;
                }
            }
        }
    }
}

@media screen and ( max-width: 480px) {
    .button.mobile-icon {
        background: $orange-dark url(../assets/images/arrow-right-white.svg) calc( 100% - 16px) 16px no-repeat;
    }
}