.contact-form{
    padding-bottom: 10px;
}

.form{
    box-shadow: 0 5px 20px rgba(222, 226, 230, 0.5);
    border-radius: 6px;
    border: $border-grey;
    background-color: $white;
    padding: 30px 40px;
    @media screen and (max-width: 640px) {
        padding: 30px 24px;   
    }
    &_steps {
        margin: 0 -10px;
    }
    &_step{
        margin: 0 10px;
        padding-bottom: 20px;
    }
    &_inner{
        display: inline-flex;
        align-items: center;

        @media screen and (max-width: 640px) {
            display: flex;
            flex-direction: column;

            .button {
                min-width: 190px;
            }
        }
        .promo-field {
            margin-right: 10px;
            width: 265px;
            @media screen and (max-width: 640px) {
                margin: 0 0 16px;
            }
        }
    }
    &_header{
        text-align: center;
        margin-bottom: 22px;
        @media screen and (max-width: 640px) {
            font-size: 18px;
            font-weight: 500;
        }
    }
    &_input{
        margin-bottom: 16px;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            width: 16px;
            height: 11px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTEiPjxnIHRyYW5zZm9ybT0ibWF0cml4KDEsMCwwLDEsLTEwMzMsLTM2MCkiIGZpbGw9IiNmZjgzMmEiPjxwYXRoIGQ9Ik0xMDM5Ljg3ODc0LDM2OS4xOTI4YzAuMzUzNTUsMC4zNTM1NSAwLjM1MzU1LDEuMDYwNjYgMCwxLjQxNDIxdjBjLTAuMzUzNTUsMC4zNTM1NSAtMS4wNjA2NiwwLjM1MzU1IC0xLjQxNDIxLDBsLTQuOTQ5NzUsLTQuOTQ5NzVjLTAuMzUzNTUsLTAuMzUzNTUgLTAuMzUzNTUsLTEuMDYwNjYgMCwtMS40MTQyMXYwYzAuMzUzNTUsLTAuMzUzNTUgMS4wNjA2NiwtMC4zNTM1NSAxLjQxNDIxLDB6Ii8+PHBhdGggZD0iTTEwNDguMzY0MDMsMzYwLjcwNzUxYzAuMzUzNTUsMC4zNTM1NSAwLjM1MzU1LDEuMDYwNjYgMCwxLjQxNDIxbC04LjQ4NTI4LDguNDg1MjhjLTAuMzUzNTUsMC4zNTM1NSAtMS4wNjA2NiwwLjM1MzU1IC0xLjQxNDIxLDB2MGMtMC4zNTM1NSwtMC4zNTM1NSAtMC4zNTM1NSwtMS4wNjA2NiAwLC0xLjQxNDIxbDguNDg1MjgsLTguNDg1MjhjMC4zNTM1NSwtMC4zNTM1NSAxLjA2MDY2LC0wLjM1MzU1IDEuNDE0MjEsMHoiLz48L2c+PC9zdmc+);
            background-repeat: no-repeat;
            opacity: 0;
            transition: 200ms;
        }
        &--completed {
            position: relative;
            &::before{
                opacity: 1;
            }
        }
    }
    &_message{
        line-height: 30px;
        color: #dc1919;
    }
    .button{
        width: 100%;
    }
    .slick-dots{
        position: relative;
        bottom: 0;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .form_message{
        text-align: center;
        position: relative;
        bottom: -10px;
    }
}

.sign-in-offer {
    @media screen and (max-width: 640px) {
        text-align: center;
    }
}