.list {
    margin-top: 22px;
    margin-bottom: 5px;
    color: #7089ea;
    &--orange{
        color: $orange-main;
    }
    &--digits{
        counter-reset: num;
        .list{
            &_item{
                &:not(:last-child){
                    .list_circle{
                        &::after {
                            content: '';
                            position: absolute;
                            top: 32px;
                            left: 12px;
                            height: calc(100% - 34px + 12px);
                            border-left: 2px solid;
                            opacity: 0.5;
                        }
                    }
                }
            }
            &_circle{
                counter-increment: num;
                &::before{
                    font-weight: 500;
                    content: counter(num);
                }
            }
        }
    }
    &--dots{
        @media screen and (max-width: 640px) {
            margin-left: 10px;
        }
        .list{
            &_item{
                +li{
                    margin-top: 2px;
                    @media screen and (max-width: 960px) {
                        margin-top: 8px;
                    }
                }
            }
            &_circle {
                width: 10px;
                height: 10px;
                background-color: $orange-main;
                flex: 0 0 10px;
                border: 0;
                margin-top: 11px;
                border-radius: 4px;
                @media screen and (max-width: 960px) {
                    margin-top: 7px;
                }   
                @media screen and (max-width: 640px) {
                    margin-top: 5px;
                }
            }
            &_content{
                @media screen and (max-width: 960px) {
                    line-height: 1.33;
                }
            }
        }
    }
    &--large{
        @media screen and (max-width: 640px) {
            margin: 0;
        }
        h3{
            font-size: 22px;
            line-height: 1.36;
            margin-bottom: 5px;
            @media screen and (max-width: 640px) {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .list{
            &_item{
                +li{
                    margin-top: 24px;
                }
            }
            &_content{
                line-height: 1.33;
            }
        }
    }
    &_item{
        display: flex;
        align-items: flex-start;
        position: relative;
        span{
            color: rgba(52, 58, 64, 0.5);
        }
        +li {
            margin-top: 12px;
        }
    }
    &_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 26px;
        width: 26px;
        height: 26px;
        border: 2px solid;
        margin-right: 16px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 2px;
        font-size: 15px;
        use{
            fill: currentColor;
        }
    }
    &_content{
        padding: 0 !important;
        color: $black;
        font-size: 18px;
        line-height: 1.67;
        font-weight: 400;
        @media screen and (max-width: 640px) {
            font-size: 15px;
        }
        br{
            display: inline;
        }
    }
}