/* Titles & text  ======================================================================== */

h1 {
    color: $black;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    @media screen and ( max-width: 640px) {
        font-size: 32px;
        line-height: 42px;
    }
}

h2,
h1.small-title {
    color: $black;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    @media screen and ( max-width: 640px) {
        font-size: 22px;
        line-height: 30px;
    }
}

h3 {
    color: $black;
    font-size: 25px;
    line-height: 45px;
    @media screen and ( max-width: 640px) {
        font-size: 20px;
        line-height: 28px;
    }
    &.bold {
        font-weight: 700;
    }
}

/* Text styles  ======================================================================== */

p,
.paragraph {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    @media screen and ( max-width: 640px) {
        font-size: 15px;
        line-height: 24px;
    }
    &.italic {
        font-style: italic;
    }
}

a {
    color: $blue-dark;
    text-decoration: underline;
}

i {
    font-weight: 400i;
}

strong {
    font-weight: 700;
}

.text {
    font-weight: 400;
    &.size-16 {
        font-size: 16px;
        line-height: 24px;
        @media screen and ( max-width: 640px) {
            font-size: 15px;
        }
    }
    &.black {
        color: $black;
    }
    &.grey {
        color: #868E96;
    }
}

blockquote {
    padding: 24px 0 26px;
    border-top: $border-grey;
    border-bottom: $border-grey;
    color: $blue-dark;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}