
/* Colors
  ======================================================================== */

$orange-main: #FF832A;
$orange-dark: #F2751C;
$orange-light: #ffc093;

$blue-main: #4C6EF5;
$blue-dark: #4263EB;

$black: #343A40;
$white: #fff;
$grey-border: #DEE2E6;
$grey-bg: #F8F9FA;
$shadow-color: rgba(222, 226, 230, .5);


/* Other
  ======================================================================== */

$font: "Ubuntu", -apple-system, Arial, sans-serif;
$border-grey: 1px solid #e9ecef;
