.analysis {
    padding: 0;
    border-top: $border-grey;
    border-bottom: $border-grey;
    &_wrapper{
        padding: 80px 40px 124px;
        border-bottom: $border-grey;
        @media screen and (max-width: 1024px) {
            padding: 65px 40px 100px;
        }
        @media screen and (max-width: 640px) {
            padding: 50px 16px 0;
            border: 0;
        }
        .item{
            .text{
                &-section {
                    width: 45.7%;
                    margin-left: 50px;
                    @media screen and (max-width: 1023px) {
                        margin: 0;
                        width: auto;
                    }
                }
            }
        }
    }
    &_slider{
        max-width: 930px;
        margin: auto;
        width: 100%;
        @media screen and (max-width: 960px) {
            padding: 90px 40px 30px;
        }
        @media screen and (max-width: 640px) {
            padding: 85px 16px 10px;
        }
        h2 {
            font-size: 25px;
            line-height: 1.4;
            @media screen and (max-width: 640px) {
                font-size: 22px;
                line-height: normal;
            }
        }
        .item{
            height: 600px;
            margin: 20px 0;
            @media screen and (max-width: 960px) {
                height: auto;
                margin: 0;
                padding-bottom: 10px;
                margin-right: 40px;
            }
            @media screen and (max-width: 640px) {
                margin: 0;
                padding-bottom: 50px;
            }
        }
        .text {
            &-box {
                +.title-box {
                    margin-top: 45px;
                }
            }
            &-section{
                @media screen and (max-width: 960px) {
                    max-width: 455px;
                }
                @media screen and (max-width: 640px) {
                    max-width: none;
                }
            }
        }
        .list{
            @media screen and (max-width: 960px) {
                margin: 0;
            }
        }
        .slick-track,
        .slick-list {
            @media screen and (max-width: 640px) {
                height: auto !important;
            }
        }
    }
    &_formula{
        margin: auto;
        margin-top: 0;
        &_img{
            margin-top: 8px;
            @media screen and (max-width: 960px) {
                display: none;
            }
        }
        &_text{
            display: none;
            max-width: 455px;
            line-height: 1.67;
            font-size: 18px;
            margin-bottom: 22px;
            @media screen and (max-width: 960px) {
                display: block;
            }
            @media screen and (max-width: 640px) {
                font-size: 15px;
            }
        }
        &_equally {
            color: $orange-dark;
            font-weight: 700;
        }
        &_calc{
            font-family: Georgia, serif;
            font-style: italic;
        }
        &_ill{
            display: none;
            @media screen and (max-width: 960px) {
                display: block;
            }
        }
    }
    .text-section {
        width: 48%;
        @media screen and (max-width: 960px) {
            padding-bottom: 24px;
            width: 100%;
        }

        @media screen and (max-width: 480px) {
            padding-bottom: 30px;
        }
    }
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and ( max-width: 960px) {
            flex-direction: column;
        }
        &--text{
            flex-wrap: wrap;
        }
        &--last{
            .text-box{
                max-width: 434px;
                @media screen and (max-width: 960px) {
                    max-width: none;
                }
            }
        }
        .img-section {
            width: auto;
            img {
                display: block;
                border-radius: 4px;
                box-shadow: 0 5px 16px rgba(222, 226, 230, 0.5);
                border: $border-grey;
                +img {
                    margin-top: 8px;
                }
            }
            > img {
                max-width: 100%;
            }
            h3 {
                margin-bottom: 10px;
                padding-left: 20px;
                font-size: 23px;
                @media screen and (max-width: 640px) {
                    font-size: 16px;
                    padding-left: 16px;
                    margin-bottom: 8px;
                }
            }
        }
        .title-box {
            padding-bottom: 24px;
        }
        hr {
            display: block;
            margin: 0 0 26px;
            width: 150px;
            height: 2px;
            border: none;
            &.blue {
                background-color: $blue-main;
            }
            &.orange {
                background-color: $orange-main;
            }
        }
    }
    &_treemap{
        padding-bottom: 0 !important;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
            max-width: 680px;
            margin: auto;
        }
    }
    .interests-box-wrapper {
        background: none;
        margin: 0;
        height: 0;
        padding: 0;
        @media screen and (min-width: 1140px) {
            padding-bottom: 32.5%;
        }
        @media screen and (min-width: 1024px) and (max-width: 1140px) {
            padding-bottom: 34.9%;
        }
        @media screen and (max-width: 1023px) {
            padding-bottom: 59%;
            margin-top: 50px;
        }
        @media screen and (max-width: 960px) {

        }
        > img{
            @media screen and (min-width: 1024px) and (max-width: 1140px) {
                width: 147%;
                margin-left: -25.5%;
            }
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
        .screen-box{
            left: 0;
            bottom: 0;
            @media screen and (max-width: 1023px) {
                top: 0;
                right: 0;
                height: auto;
            }                
        }
    }
}