.behavior{
    padding: 65px 40px 40px;
    @media screen and (max-width: 640px) {
        padding-top: 40px;
    }
    @media screen and (max-width: 479px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    &_inner{
        overflow: hidden;
    }
    &_header{
        text-align: center;
        margin-bottom: 20px;
    }
    &_descr{
        text-align: center;
        margin-bottom: 24px;
    }
    &_img{
        @media screen and (max-width: 640px) {
            display: none;
        }
    }
    &_content{
        .button{
            margin-left: 42px;
            margin-top: 25px;
        }
    }
}