.featured-articles-section {
    min-height: 350px;
    @media only screen and (max-width: 1199px) {
        min-height: 300px;
    }
    @media screen and (max-width: 991px) {
        min-height: 275px;
    }
    a:hover {
        color: white;
        border: none;
    }
    .featured-article-inner {
        left: 10%;
        right: 10%;
    }
}

@media screen and (max-width: 840px) {
    .featured-articles-section .flex-wrapper01 {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .featured-articles-section {
        display: flex;
        flex-direction: column;
        flex-direction: row;
    }
    .flex-wrapper01 {
        flex: 1;
        display: flex;
        width: 50%;
    }
}

.blogpost_feat_art {
    position: relative;
    flex: 1;
}

.blogpost_feat_art_link,
.blogpost_feat_art .bg_filter,
.blog_feat_art_link,
.blog_feat_art .bg_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blogpost_feat_art {
    .bg_filter {
        z-index: 2;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity .3s;
    }
    &:hover .bg_filter {
        opacity: 0;
    }
    .bg_gradient {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 3;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
    }
}

.blogpost_feat_art_link,
.blog_feat_art_link {
    display: block;
    z-index: 10;
}

.blogpost_feat_art_title,
.blogpost_feat_art_topic {
    position: absolute;
    left: 40px;
    z-index: 4;
}

.blogpost_feat_art_title {
    right: 40px;
    bottom: 95px;
    h2 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 25px;
        line-height: 32px;
        font-weight: 700;
    }
}

.blogpost_feat_art_topic,
.blog_feat_art_topic {
    height: 36px;
    padding: 9px 14px 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 15px;
}

.blogpost_feat_art_topic {
    bottom: 40px;
}

@media screen and (max-width: 991px) {
    .blogpost_feat_art_title,
    .blogpost_feat_art_topic {
        left: 24px;
    }
    .blogpost_feat_art_title {
        right: 24px;
        bottom: 80px;
    }
    .blog_feat_art_title h2,
    .blogpost_feat_art_title h2 {
        font-size: 22px !important;
    }
    .blogpost_feat_art_topic {
        bottom: 24px;
    }
}

@media screen and (max-width: 840px) {
    .featured-articles-section .flex-wrapper01 {
        flex-direction: column;
    }
    .blogpost_feat_art {
        height: 360px;
    }
    .blogpost_feat_art_title,
    .blogpost_feat_art_topic {
        left: 40px;
    }
    .blogpost_feat_art_title {
        right: 40px;
        bottom: 95px;
    }
    .blogpost_feat_art_topic {
        bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .blogpost_feat_art {
        height: 300px;
    }
    .blogpost_feat_art_title,
    .blogpost_feat_art_topic {
        left: 24px;
    }
    .blogpost_feat_art_title {
        right: 24px;
        bottom: 80px;
        h2 {
            font-size: 22px;
        }
    }
    .blogpost_feat_art_topic {
        bottom: 24px;
    }
}