.brands {
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: 640px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    &--main{
        padding-top: 65px;
        padding-bottom: 80px;
        border-top: 0;
        border: 0;
        @media screen and (max-width: 640px) {
            padding-top: 50px;
            padding-bottom: 60px;
        }
    }
    &--recommend{
        padding-top: 0;
        border: 0;
    }
    &-outer{
        max-width: 1060px;
        margin: auto;
        padding-bottom: 35px;
    }
    .title{
        padding-bottom: 50px;
        text-align: center;
        @media screen and (max-width: 990px) {
            padding-bottom: 45px;
        }
        @media screen and (max-width: 640px) {
            padding-bottom: 25px;
        }
    }
    &-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;
        @media screen and (max-width: 640px) {
            flex-wrap: wrap;
            padding-bottom: 0 !important;
        }
        .brand-item {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 990px) {
                max-width: 100px;
            }
            @media screen and ( max-width: 640px) {
                margin: 8px 0;
                width: 33%;
                flex: 0 0 33%;
                max-width: none;
            }
            img {
                display: block;
                max-width: 100%;
                @media screen and ( max-width: 480px) {
                    max-width: 90px;
                }
            }
        }
    }
    .button + .button{
        margin-left: 56px;
    }
}