.dashboard{
    padding: 0 40px 75px;
    @media screen and (max-width: 640px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media screen and (max-width: 480px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    &_img{
        max-width: 488px;
        box-shadow: 0 5px 16px rgba(222, 226, 230, 0.5);
        border-radius: 4px;
        border: $border-grey;
        overflow: hidden;
        float: left;
        @media screen and (max-width: 991px) {
            margin: auto;
        }
        img{
            display: block;
            max-width: 100%;
        }
    }
    &_header{
        margin-bottom: 20px;
        margin-top: -12px;
        font-weight: bold;
        padding-bottom: 18px;
        position: relative;
        &::before{
            content: '';
            width: 150px;
            border-top: 2px solid $orange-main;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @media screen and (max-width: 991px) {
            margin-top: 40px;
        }
    }
    .mainhow_link{
        margin-top: 35px;
        margin-left: 42px;
        font-size: 18px;
    }
}