$accents: (
    green: #40be8c,
    orange: $orange-dark,
    yellow: #fecc4d,
    blue: #87d7fb
);

.deploy{
    &_header{
        text-align: center;
        margin-bottom: 80px;
    }
    &_inner{
        min-height: 490px;
        position: relative;
    }
    &_brain{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        line-height: 1.4;
        width: 296px;
        height: 296px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &::before, &::after{
            content: '';
            position: absolute;
        }
        &::before{
            width: 100%;
            height: 100%;
            background-image: url(../assets/images/bg_brain.svg);
            background-position: center -9px;
            z-index: -1;
        }
        &::after{
            width: 264px;
            height: 264px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 5px 30px rgba(150, 164, 165, 0.2);
            background-color: $white;
            border-radius: 50%;
            z-index: -2;
        }
    }
    &_item{
        padding: 24px 24px 16px;
        box-shadow: 0 5px 30px rgba(150, 164, 165, 0.3);
        border-radius: 6px;
        background-color: $white;
        @each $name, $color in $accents {
            &--#{$name} {
                color: $color;
            }
        }
        &_title{
            line-height: 1.16;
            color: currentColor;
            margin-bottom: 16px;
            font-weight: 700;
        }
        &_descr{
            line-height: 1.67;
            color: rgba($black, 0.5);
        }
    }
}