.faq{
    padding: 0 40px;
    padding-top: 70px;
    @media screen and (max-width: 640px) {
        padding-top: 40px;
    }
    @media screen and (max-width: 479px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    &_header{
        text-align: center;
        margin-bottom: 42px;
    }
    input{
        display: none;
        &:checked{
            + .faq_item {
                max-height: 500px;
                @media screen and (max-width: 640px) {
                    max-height: 700px;   
                }
                .faq_item_title {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    &_item{
        max-height: 60px;
        overflow: hidden;
        box-shadow: 0 5px 20px rgba(222, 226, 230, 0.5);
        border-radius: 4px;
        border: $border-grey;
        transition: 500ms;
        margin-bottom: 10px;
        background-color: $white;
        &_title{
            display: flex;
            align-items: center;
            font-weight: 700;
            height: 60px;
            padding: 10px 0;
            margin: 0 20px;
            border-bottom: $border-grey;
            cursor: pointer;
            user-select: none;
            position: relative;
            padding-right: 25px;
            line-height: normal;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 25px;
                width: 24px;
                height: 12px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjYiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyNiAxMyI+PGRlZnM+PHBhdGggaWQ9IjhwbmthIiBkPSJNMTE1NiA0NjgyLjY3bDEyIDEwLjY2IDEyLTEwLjY2Ii8+PC9kZWZzPjxnPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMTU1IC00NjgyKSI+PHVzZSBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9IjAiIHN0cm9rZT0iI2ZmYzA5MyIgc3Ryb2tlLW1pdGVybGltaXQ9IjUwIiBzdHJva2Utd2lkdGg9IjIiIHhsaW5rOmhyZWY9IiM4cG5rYSIvPjwvZz48L2c+PC9zdmc+);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                transition: 300ms;
                transform: rotate(0deg);
            }
        }
        &_content{
            padding: 35px 10%;
            @media screen and (max-width: 640px) {
                padding: 20px;
            }
        }
    }
}