.footer{
    border-top: $border-grey;
    position: relative;
    background: $white;
    &--first-box{
        .wrapper {
            display: flex;
            padding: 40px 0 48px;
            @media screen and ( max-width: 1199px) {
                padding-left: 40px;
                padding-right: 40px;
                max-width: none;
            }
            @media screen and ( max-width: 1023px) {
                flex-direction: column;
            }
            @media screen and ( max-width: 640px) {
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 20px;
            }
        }
    }
    &--logo-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and ( max-width: 1023px) {
            margin-bottom: 30px;
            align-items: center;
        }
        @media screen and ( max-width: 640px) {
            margin-bottom: 20px;
        }
        &_logo {
            display: block;
            width: 125px;
            @media screen and ( max-width: 1023px) {
                margin-bottom: 40px;
            }
            img {
                max-width: 100%;
            }
        }
        &_link {
            margin-left: 40px;
            color: $black;
            text-decoration: none;
            &:hover {
                color: $black;
            }
        }
    }
    &--nav-box {
        nav > ul {
            display: flex;
            @media screen and ( max-width: 1023px) {
                justify-content: space-between;
            }
            @media screen and ( max-width: 640px) {
                flex-direction: column;
            }
            > li {
                margin-left: 50px;
                min-width: 130px;
                @media screen and ( max-width: 1023px) {
                    margin: 0;
                    min-width: 147px;
                }
                @media screen and ( max-width: 640px) {
                    padding: 24px 0;
                    + li{
                        border-top: $border-grey;
                    }
                }
            }
        }
        a {
            display: block;
            padding: 9px 0;
            color: $black;
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;
            text-decoration: none;
            &.bold {
                font-weight: 700;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        a,
        span {
            display: block;
            padding: 9px 0;
            color: #495057;
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;
            text-decoration: none;
        }
        .bold {
            font-weight: 700;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &--second-box {
        border-top: $border-grey;
        .wrapper {
            display: flex;
            padding: 27px 0 23px;
            @media screen and ( max-width: 1199px) {
                padding-left: 40px;
                padding-right: 40px;
                max-width: none;
            }
            @media screen and ( max-width: 640px) {
                padding-left: 16px;
                padding-right: 16px;
            }
            @media screen and ( max-width: 480px) {
                padding-bottom: 74px;
                position: relative;
                justify-content: space-between;
            }
        }
    }
    &--copyright-box {
        display: flex;
        flex: 1;
        @media screen and ( max-width: 480px) {
            max-width: 244px;
            justify-content: space-between;
        }
        span {
            display: block;
            @media screen and ( max-width: 480px) {
                &:first-child{
                    position: absolute;
                    bottom: 30px;
                    left: 16px;
                    width: calc(100% - 16px);
                    text-align: center;
                }
            }
            + span{
                margin-left: 40px;
                @media screen and ( max-width: 640px) {
                    margin-left: 30px;
                }
                @media screen and ( max-width: 480px) {
                    margin-left: 0;
                }
            }
            &,
            a {
                color: #495057;
                text-decoration: none;
            }
        }
    }
    &--soc-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            display: block;
            margin-left: 24px;
        }
    }
}