.header {
    position: fixed;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 70px;
    border-bottom: $border-grey;
    background-color: $white;
    transition: transform .5s;
    @media screen and ( max-width: 1160px) {
        padding: 0 18px;
    }

    @media screen and ( max-width: 640px) {
        padding: 0 18px 0 0;
        height: 56px;
        padding: 0;
    }
    &.is-hidden {
        transform: translateY(-70px);
    }
    .wrapper {
        display: flex;
    }
    &--nav {
        &-toggle {
            display: none;
            padding: 26px 28px 26px 10px;
            width: 20px;
            height: 16px;
            box-sizing: content-box;
            @media screen and(max-width: 960px) {
                display: block;
            }
            @media screen and ( max-width: 640px) {
                order: 2;
                padding: 20px 16px;
            }
            .icon-box {
                position: relative;
                width: 20px;
                height: 14px;
            }
            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background-color: $black;
                transition: top .3s, opacity .24s, transform .3s;
                top: 0;
                &:nth-child(2) {
                    top: 7px;
                }
                &:nth-child(3) {
                    top: 14px;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        top: 6px;
                        transform: rotate(135deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        transform: translateX(-10px);
                    }
                    &:nth-child(3) {
                        top: 6px;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
        &-box {
            flex: 1;
            @media screen and ( max-width: 640px) {
                display: none;
            }
            nav {
                display: flex;
                justify-content: space-between;
                @media screen and(max-width: 960px) {
                    justify-content: flex-end;
                }
            }
            ul {
                display: flex;
                &:first-child {
                    @media screen and (max-width: 960px) {
                        display: none;
                    }
                }
                li {
                    display: block;
                    &:hover {
                        .header-dropdown-div {
                            display: block;
                        }
                        a:not(.non_highlighted) {
                            border-color: $orange-main;
                        }
                    }
                    a {
                        display: block;
                        color: #343A40;
                        font-size: 16px;
                        line-height: 18px;
                        text-decoration: none;
                        &.active {
                            border-color: $orange-main;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    &--logo-box {
        padding-top: 14px;
        margin-right: 23px;
        @media screen and ( max-width: 640px) {
            flex: 1;
            padding: 10px 0 0 16px;
        }
        a {
            display: block;
            @media screen and ( max-width: 640px) {
                width: 111px;
            }
        }
        img{
            max-width: 100%;
        }
    }
    &--sign-in-box {
        padding: 17px 0 0 23px;
        @media screen and ( max-width: 640px) {
            display: none;
        }
    }
    &--mobile-box {
        position: fixed;
        background-color: $white;
        transition: transform .5s;
        transform: translateY(-140px);
        display: flex !important;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        z-index: 920;
        width: 315px;
        height: 100%;
        overflow-y: auto;
        box-shadow: 0 0 12px rgba(0, 0, 0, .24);
        transform: translate(317px, 0);
        -webkit-overflow-scrolling: touch;
        &.show {
            transform: translate(0, 0);
            transform: translateY(0);
        }
    }
    &-dropdown {
        &-div {
            position: absolute;
            background-color: #FFFFFF;
            box-shadow: 0 5px 20px 0 #F4DBC9;
            color: #343A40;
            padding: 8px 20px 8px 16px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            display: none;
            ul {
                display: block;
                li {
                    &:hover {
                        border-bottom: none;
                    }
                    a {
                        font-size: 14px;
                        line-height: 28px;
                        height: 28px;
                        &:hover {
                            transition: color 0.2s;
                            color: $orange-main;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}

.navigation-button-header {
    transition: border-color 0.2s;
    border-bottom: 3px solid transparent;
    height: 70px;
    padding: 25px 10px 0;
    margin: 0 7px;
    &-mobile {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 16px;
        line-height: 18px;
        text-decoration: none;
        height: 40px;
        margin: 5px 0;
        &.active {
            font-weight: 700;
        }
    }
}

.email-submit-message {
    line-height: 30px;
}

.mobile {
    &-box {
        &--top-bar {
            justify-content: space-between;
            padding: 20px;
            display: flex;
            min-height: 80px;
        }
        &--logo-box{
            img{
                display: block;
            }
        }
        &--close-btn {
            width: 16px;
            height: 16px;
            padding: 12px 15px;
            opacity: .75;
            box-sizing: content-box;
        }
        &--nav-box {
            display: flex;
            flex: 1 0 auto;
            align-items: center;
            min-height: 360px;
            nav {
                width: 100%;
            }
            ul {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                i {
                    margin: 0 30px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        &--sign-in-box {
            padding: 20px;
        }
    }
    &-menu-subitems {
        ul {
            display: block;
        }
        li {
            margin: 6px 0;
            a {
                display: block;
                font-size: 14px;
                line-height: 28px;
                padding-left: 80px;
                color: rgba($black, 0.8);
                text-decoration: none;
                position: relative;
                transition: color 0.2s;
                &::before{
                    content: '';
                    position: absolute;
                    left: 37px;
                    top: calc(50% - 3px);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $grey-border;
                    transition: 0.2s;
                }
                &:hover {
                    color: $orange-main;
                    &::before{
                        background-color: $orange-main;
                    }
                }
            }
        }
    }
}

.header--filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 910;
    visibility: hidden;
    background-color: $black;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
    &.show {
        opacity: .5;
        visibility: visible;
    }
}