.hints{
    &_container{
        padding: 120px 6px;
        @include media-breakpoint-down(md) {
            padding-top: 0;
            padding-bottom: 0;
        }
        @include media-breakpoint-down(xs) {
            padding-top: 7px;
        }
    }
    &_col{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 82px;
        @include media-breakpoint-down(md) {
            padding-top: 97px;
            padding-bottom: 155px;
        }
        @include media-breakpoint-down(xs) {
            padding-top: 60px;
            padding-bottom: 104px;
        }
        & + & {
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid $grey-border;
                border-width: 0 1px 0 0;
                height: 100%;
                @include media-breakpoint-down(md) {
                    border-width: 1px 0 0;
                    height: auto;
                    width: calc(100% - 20px);
                    max-width: 360px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &_circle{
        position: relative;
        width: 170px;
        height: 170px;
        box-shadow: 0px 5px 30px rgba(150, 164, 165, 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include media-breakpoint-down(xs) {
            width: 132px;
            height: 132px;
        }
        h3{
            font-weight: 700;
        }
        &_lines{
            position: absolute;
            width: 122px;
            height: 122px;
            border: 1px solid #F1F3F5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            @include media-breakpoint-down(xs) {
                width: 94px;
                height: 94px;
            }
        }
        &_line{
            position: absolute;
            height: 44px;
            border-left: 1px solid $orange-main;
            @include media-breakpoint-down(xs) {
                height: 34px;
            }
            &::before, &::after{
                content: '';
                position: absolute;
                border-radius: 50%;
                transform: translate(-52%, -50%);
            }
            &::before{
                width: 20px;
                height: 20px;
                border: 1px solid $orange-main;
                @include media-breakpoint-down(xs) {
                    width: 15px;
                    height: 15px;
                }
            }
            &::after{
                width: 8px;
                height: 8px;
                background: $orange-main;
                @include media-breakpoint-down(xs) {
                    width: 6px;
                    height: 6px;
                }
            }
            &--bottom{
                height: 64px;
                left: 50%;
                bottom: -24px;
                @include media-breakpoint-down(xs) {
                    height: 50px;
                    bottom: -18.5px;
                }
                &::before, &::after{
                    bottom: 0;
                    transform: translate(-52%, 50%);
                }
            }
            &--top{
                &_left{
                    top: 10px;
                    left: -8px;
                    transform: rotate(-45deg);
                    transform-origin: top;
                    @include media-breakpoint-down(xs) {
                        top: 7px;
                        left: -5px;
                    }
                }
                &_right{
                    top: 10px;
                    right: -8px;
                    transform: rotate(45deg);
                    transform-origin: top;
                    @include media-breakpoint-down(xs) {
                        top: 7px;
                        right: -5px;
                    }
                }
            }
        }
        &_hints{
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 280px;
            height: 280px;
            @include media-breakpoint-down(xs) {
                width: 218px;
                height: 215px;
            }
        }
        &_hint{
            position: absolute;
            transform: translateX(-50%);
            &--top{
                &_left{
                    top: 0;
                    left: 0;   
                }
                &_right{
                    top: 0;
                    right: 0;
                    transform: translateX(50%);
                }
            }
            &--bottom{
                top: calc(100% - 57px);
                left: 50%;
                @include media-breakpoint-down(xs) {
                    top: calc(100% - 43px);
                }
            }
            &_icon{
                margin-bottom: 6px;
                @include media-breakpoint-down(xs) {
                    width: 24px;
                    margin: 0 auto 5px;
                }
                svg{
                    display: block;
                    margin: auto;
                    max-width: 100%;
                    height: 100%;
                }
            }
            &_title{
                opacity: 0.5;
                font-size: 16px;
                line-height: 1.19;
                @include media-breakpoint-down(xs) {
                    font-size: 12px;
                }
            }
        }
    }
    &_footer{
        text-align: center;
        padding: 20px 0 7px;
        position: relative;
        @include media-breakpoint-down(md) {
            padding: 13.5px 0;
        }
        @include media-breakpoint-down(xs) {
            padding: 24px 0 0;
        }
        &::before, &::after{
            content: '';
            position: absolute;
            top: 0;
            max-width: 315px;
            width: 32%;
            height: 72px;
            background-image: url(../assets/images/bg_hints.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
        &::before{
            left: 0;
            transform: scale(-1, 1);
        }
        &::after{
            right: 0;
        }
    }
}