.nlp{
    padding: 0 40px;
    @media screen and (max-width: 640px) {
        display: none;
    }
    &_inner{
        border-top: $border-grey;
        padding-top: 65px;
    }
    h2{
        text-align: center;
    }
    &_anim{
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1199px) {
            display: block;
            margin-left: -12px;
            margin-right: -20px;
        }
        @media screen and (max-width: 1023px) {
            margin-top: 25px;
            margin-bottom: 25px;
            margin: 25px -15px 25px -9px;
        }
        img{
            @media screen and (max-width: 1199px) {
                max-width: 100%;
            }
        }
    }
    &_bottom{
        text-align: center;
    }
}

.language{
    text-align: center;
    padding: 65px 15px 70px;
    border-top: $border-grey;
    border-bottom: $border-grey;
    @media screen and (max-width: 640px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &_header{
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
    }
    &_item{
        max-width: 250px;
        margin: auto;
        @media screen and (max-width: 1023px) {
            max-width: 210px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
        &_img{
            width: 170px;
            margin: auto;
            margin-bottom: 15px;
            @media screen and (max-width: 1023px) {
                width: 120px;
            }
        }
        &_title{
            @media screen and (max-width: 1023px) {
                font-size: 15px;
                line-height: 1.33;
            }
        }
    }
}