.script{
    padding: 65px 40px 70px;
    overflow: hidden;
    @media screen and (max-width: 640px) {
        padding: 50px 40px 195px;
        position: relative;
    }
    @media screen and (max-width: 480px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    .wrapper{
        max-width: 930px;
    }
    &_header{
        margin-bottom: 40px;
        text-align: center;
        @media screen and (max-width: 640px) {
            text-align: left;
            margin-bottom: 30px;
        }
    }
    &_content{
        position: relative;
        @media screen and (max-width: 1080px) {
            br{
                display: none;
            }
        }
        @media screen and (max-width: 640px) {
            position: static;
        }
    }
    &_img{
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width: 1199px){
            z-index: -1;
        }
        @media screen and (max-width: 1080px) {
            opacity: .25;
            right: -100px;
            top: -36px;
        }
        @media screen and (max-width: 940px) {
            right: -210px;
        }
        @media screen and (max-width: 640px) {
            top: auto;
            bottom: 25px;
            max-width: 340px;
            right: calc(50% - 170px);
            opacity: 1;
        }
        img {
            max-width: 100%;
        }
    }
}