.started{
    padding: 0 0 100px;
    text-align: center;
    @media screen and (max-width: 920px) {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    &_wrapper{
        border-top: $border-grey;
        padding-top: 65px;
    }
    &_steps{
        display: flex;
        justify-content: space-between;
        margin: 30px 0 50px;
        counter-reset: steps;
        padding: 0 60px;
        @media screen and (max-width: 1199px) {
            padding: 0 40px;
        }
        @media screen and (max-width: 920px) {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    &_step{
        counter-increment: steps;
        @media screen and (max-width: 920px) {
            margin-bottom: 20px;
        }
        &:first-child{
            .started_step_img{
                margin-right: -20px;
            }
        }
        &_img{
            height: 118px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 26px;
        }
        &_num{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            color: $white;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            position: relative;
            margin-bottom: 15px;
            box-shadow: 0 5px 15px rgba(242, 117, 28, 0.5);
            background-color: $orange-dark;
            &::before{
                content: counter(steps);
            }
        }
        + .started_step{
            .started_step_num{
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    width: 29vw;
                    max-width: 350px;
                    border: 1px solid $orange-light;
                    z-index: -1;
                    @media screen and (max-width: 920px) {
                        display: none;
                    }
                }
            }
        }
    }
}