.started{
    padding: 0 40px 100px;
    text-align: center;
    overflow: hidden;
    @media screen and (max-width: 920px) {
        padding-bottom: 100px;
    }
    @media screen and (max-width: 640px) {
        padding: 0 16px 60px;
    }
    &_wrapper{
        border-top: $border-grey;
        padding-top: 65px;
        @media screen and (max-width: 640px) {
            padding-top: 50px;
        }
    }
    &_steps{
        display: flex;
        justify-content: space-between;
        margin: 30px 0 50px;
        counter-reset: steps;
        padding: 0 60px;
        @media screen and (max-width: 1199px) {
            padding: 0;
        }
        @media screen and (max-width: 920px) {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 640px) {
            margin-bottom: -15px;
        }
    }
    &_step{
        counter-increment: steps;
        position: relative;
        @media screen and (max-width: 920px) {
            margin-bottom: 30px;
            width: 310px;
        }
        @media screen and (max-width: 640px) {
            margin-bottom: 45px;
            margin-right: -50px;
            width: 280px;
        }
        &:first-child{
            .started_step_img{
                margin-right: -20px;
                @media screen and (max-width: 640px) {
                    margin: 0;
                }
            }
        }
        &_img{
            height: 118px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 26px;
            @media screen and (max-width: 920px) {
                height: auto;
                margin-bottom: 30px;
            }
            @media screen and (max-width: 640px) {
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
            }
        }
        &_num{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            color: $white;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            position: relative;
            margin-bottom: 15px;
            box-shadow: 0 5px 15px rgba(242, 117, 28, 0.5);
            background-color: $orange-dark;
            @media screen and (max-width: 920px) {
                position: absolute;
                top: calc(50% - 45px);
                right: calc(50% + 28vw);
                margin: 0;
            }
            @media screen and (max-width: 640px) {
                top: calc(50% - 40px);
                right: calc(100% + 20px);
            }
            @media screen and (max-width: 480px) {
                right: calc(50% + 42.7vw);
            }
            &::before{
                content: counter(steps);
            }
        }
        + .started_step{
            .started_step_num{
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    width: 33vw;
                    border: 1px solid $orange-light;
                    z-index: -1;
                    @media screen and (min-width: 1200px) {
                        max-width: 360px;
                    }
                    @media screen and (max-width: 920px) {
                        // display: none;
                        width: auto;
                        height: 170px;
                        top: auto;
                        bottom: 100%;
                        right: calc(50% - 1px);
                    }
                }
            }
        }
    }
}