.testdrive{
    padding: 80px 6px;
    @include media-breakpoint-down(md) {
        padding: 56px 6px 8px;
    }
    @include media-breakpoint-down(xs) {
        padding: 40px 6px;
    }
    &_header{
        @include media-breakpoint-down(md) {
            font-size: 20px;
            line-height: 1.15;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 32px;
            text-align: center;
        }
    }
    &_descr{
        color: rgba($black, 0.5);
        line-height: 1.67;
        margin-top: 48px;
        @include media-breakpoint-down(md) {
            margin-top: 24px;
            font-size: 14px;
            line-height: 2.14;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 16px;
        }
    }
    &_ill{
        text-align: center;
        img{
            display: block;
            width: 100%;
            margin-bottom: 24px;
        }
    }
}