// 3 cols screen =====================================================================
mixin 3col(mod)
    section.three-cols-screen(class=mod)
        .wrapper
            .title
                h2 The Unfair Advantage
            .cols3-section
                .col
                    p
                        | NativeAI is built on a mixture of Natural Language Processing (NLP), Semantic Analysis, and Machine Learning algorithms, developed by the News360 team from the ground up, and implemented and advanced over the last seven years.
                .col
                    p
                        | The platform automatically cleans and parses each piece of your content; headlines, authors, tags, media, and more are detected and cataloged; and all named entities are detected from an ever-growing interconnected ontology.
                .col
                    p
                        | Topics across both broad and niche categories as recognized, and advanced clusterization functionality crawls all news content on the web, and measures your stories against the same news stories from other publishers.
