.homepage--second-screen
    .wrapper
        .text-section
            .title-box
                h2 True Publisher Analytics
            .text-box
                .paragraph
                    strong Every question you have as a Digital Publisher, answered:
                    ul
                        li Who reads your content?
                        li How much do they engage with it?
                        li Which audience segment likes what content topics?
                        li What other topics will each audience segment be interested in?
                p
                    | NativeAI combines audience analytics with cutting-edge artificial intelligence
                    | 
                    strong to take the guesswork out of audience engagement.
                    | 
                    | The NativeAI machine learning algorithms analyze your content to identify from more than 1 million distinct interests, sift through audience behavior data to compile actionable insights into what content drives the most engagement. With these insights,
                    | 
                    strong produce the Right Content, for the Right Audience, at the Right Time.
        .how-work-section
            .bg
            .how-work-item.start
                .ill
                    .img
                        img(src='assets/images/how-it-work/00.svg')
                    .ill-title
                        p
                            strong Your Content
                .number
                    img(src='assets/images/how-it-work/start.svg')
                .drop-info
                    span.text.size-16 Headlines, authors, tags, media, captions, and more are detected and cataloged.
            .how-work-item.first
                .ill
                    .img
                        img(src='assets/images/how-it-work/01.svg')
                    .ill-title
                        p
                            strong Linguistic Analysis
                .number
                    span 1
                .drop-info
                    span.text.size-16
                        | Each piece of content is automatically cleaned up and parsed to be machine readable by advanced Natural Language Processing.
            .how-work-item.second
                .ill
                    .img
                        img(src='assets/images/how-it-work/02.svg')
                    .ill-title
                        p
                            strong Entity Extraction
                .number
                    span 2
                .drop-info
                    span.text.size-16
                        | An interconnected ontology identifies all known entities in a story (people, companies, locations, etc.), and automatically updates as new ones emerge or existing ones change.
            .how-work-item.third
                .ill
                    .img
                        img(src='assets/images/how-it-work/03.svg')
                    .ill-title
                        p
                            strong Classification
                .number
                    span 3
                .drop-info
                    span.text.size-16
                        | AI recognizes topics across broad categories (politics, entertainment, etc.) and more than one million niche categories (cryptocurrency, fly fishing, etc.).
            .how-work-item.four
                .ill
                    .img
                        img(src='assets/images/how-it-work/04.svg')
                    .ill-title
                        p
                            strong Clustering
                .number
                    span 4
                .drop-info
                    span.text.size-16
                        | NativeAI crawls all news content published on the web, recognizing stories from different publishers that cover the same event. The importance of individual stories can be estimated, and your performance benchmarked against other publishers.
            .how-work-item.fifth
                .ill
                    .img
                        img(src='assets/images/how-it-work/05.svg')
                    .ill-title
                        p
                            strong Behavioral Analysis
                .number
                    span 5
                .drop-info
                    span.text.size-16
                        | Every action on NativeAI-enables sites is analyzed to create a unique Interest Graph for every reader. Common patterns and behavioral predictions can easily be discovered across audience segments.
            .how-work-item.extra
                .ill
                    .img
                        img(src='assets/images/how-it-work/05s.svg')
                    .ill-title
                        p
                            strong Your Readers
                .number
                    span +
            .how-work-item.final
                .ill
                    .img
                        img(src='assets/images/how-it-work/06.svg')
                    .ill-title
                        p
                            strong Reader Interest Graphs
                .number
                    img(src='assets/images/how-it-work/finish.svg')