mixin analysis(treemap)
    .homepage--five-screen.analysis
        .analysis_wrapper
            .wrapper
                .item.img-left(class=treemap?"analysis_treemap":"")
                    if treemap
                        include ../components/_treemap
                    else
                        .img-section
                            img(src="assets/images/infographic/interests.png", alt="Audience Interest Analysis")
                    .text-section
                        .title-box
                            h2 Audience Interest Analysis
                        hr.blue
                        .text-box
                            p
                                | Segment your readers by the topics, news categories that most interest them using NativeAI's Audience Interest metrics and reports. Our advanced NLP algorithms allow you to view 'Content you Produced' as well as Content that your audience most engaged with, giving you insights to prioritize editorial calendars and optimize audience development and acquisition campaigns.
        .wrapper
            .analysis_slider
                .item
                    .text-section
                        .title-box
                            h2 Real-Time Analytics Dashboard
                        hr.orange
                        .text-box
                            p
                                | Stay on top of all the key performance metrics for your website with our low-latency realtime dashboard. Visits, Re-circulation, Top Stories, Engagement Quality, Sources of Traffic, Audience Interest tags - all of these are available and updated as the day plays out, with a handy comparison to an average day.
                    .img-section
                        img(src=`assets/images/infographic/engagement.png` srcset=`assets/images/infographic/engagement.png 1x, assets/images/infographic/engagement@2x.png 2x` alt='Real-Time Dashboard')
                .item.item--text
                    .text-section
                        .title-box
                            h2 Audience Engagement Quality
                        hr.orange
                        .text-box
                            p
                                | Measure the level of Audience Attention that your stories earn, Quantify Engagement using EQ - Engagement Quality. EQ is our purpose-built metric that is calculated using Active Time on Page and Scroll
                                br
                                | Depth normalized for story length and format of the story. This allows you to objectively compare engagement    levels between stories accurately.
                    .text-section
                        +list(['Engagement Quality (EQ) ranges from 0 to 1, with 1 indicating maximum engagement', 'EQ is calculated for every reader and reported in aggregates', 'Objectively compare Articles, Authors, Topics by Engagement'], 'list--dots')
                    .analysis_formula
                        .analysis_formula_img
                            img(src=`assets/images/infographic/formula.png` srcset=`assets/images/infographic/formula.png 1x, assets/images/infographic/formula@2x.png 2x` alt='Engagement Quality')
                        .analysis_formula_text
                            b.analysis_formula_equally
                                | Engagement Quality
                            | 
                            i.analysis_formula_calc
                                | = f (Time On Page, Scroll Depth) ± Normalization for page length
                        .img-section.analysis_formula_ill
                            img(src=`assets/images/infographic/traffic.png` srcset=`assets/images/infographic/traffic.png 1x, assets/images/infographic/traffic@2x.png 2x` alt='Traffic Channels')
                .item.item--last
                    .text-section
                        .title-box
                            h2 Daily Digests
                        hr.orange
                        .text-box
                            p
                                | Daily snapshots of content performance and engagement metrics sent directly to your inbox. Get a high-level view of the most important performance insights you can understand at a glance.
                        
                        .title-box
                            h2
                                | Powerful & Easy Filters
                                br
                                |  & Data Exports
                        hr.blue
                        .text-box
                            p
                                | Filter all your analytics reports by Author, Topic or Audience Interest, your custom Publisher Tags, Loyalty of reader, as well as the usual options such as reader location, device, traffic source etc. across date ranges. All reports can be exported inconvenient CSV files.
                    .img-section
                        h3.bold News.com Daily Digest
                        img(src=`assets/images/infographic/increased.png` srcset=`assets/images/infographic/increased.png 1x, assets/images/infographic/increased@2x.png 2x` alt='Engagement Quality Intelligence')
                        img(src=`assets/images/infographic/engagement_volume.png` srcset=`assets/images/infographic/engagement_volume.png 1x, assets/images/infographic/engagement_volume@2x.png 2x` alt='Engagement Quality Intelligence')

