section.api
    .wrapper
        .api_card
            .api_card_content
                h2.api_card_header
                    | Content Analysis 
                    br
                    | & API Integration
                p.api_card_descr
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    +list(['Aenean massa. Cum sociis natoque', 'Aenean massa. Cum sociis natoque', 'Aenean massa. Cum sociis natoque'], 'list--dots list--white')
                a.button.dust(href="register.html")
                    | Get a Demo
                    i
                        +icon('arrow', [20, 14], '#fff')
            .api_card_ipad
                include ../components/_treemap