section.behavior.grey-bg
    .wrapper
        h2.behavior_header
            | Predict Audience Behavior
        p.behavior_descr
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat dolor sed gravida imperdiet. Quisque sit amet
            br
            | feugiat dolor, in ullamcorper nisl. Nulla convallis pharetra nulla, sed semper sapien laoreet eu.  
        .row
            .col-md-6.col-md-push-0.col-sm-8.col-sm-push-2
                .behavior_img
                    img(src="assets/images/illustrations/home-01-gray.svg", alt="Predict Audience Behavior")
            .col-md-6.col-sm-12
                .behavior_content
                    +list(['<strong>Affinity</strong> - Which audience segment(s) will engage better with a given article', '<strong>Loyalty</strong> - Which audience segment(s) are likely to upgrade to a paid subscription', '<strong>Targeting</strong> - Which geo, channel, demographic / psychographic filters should I set for my Advertising Audience to achieve best ROI', '<strong>Publishing</strong> - Which topics should I publish more articles about?'], 'list--digits list--orange')
                    a.button.orange(href="./register.html")
                        | Get a Demo