.featured-articles-section.bg-dark
    .flex-wrapper01
        .blogpost_feat_art(style="background: url('https://www.native.ai/hubfs/blog-images/Native.AI_best-digital-publishers.png?t=1527297526385') 50% 50% / cover;")
            a.blogpost_feat_art_link(href='https://www.native.ai/blog/the-6-best-digital-publishers-for-the-millennial-audience')
            .bg_filter
            .bg_gradient
            .blogpost_feat_art_title
                h2 The 6 Best Digital Publishers for the Millennial Audience
            .blogpost_feat_art_topic
                span audience development
        .blogpost_feat_art(style="background: url('https://www.native.ai/hubfs/app-browser-coffee-6335.jpg?t=1527297526385') 50% 50% / cover;")
            a.blogpost_feat_art_link(href='https://www.native.ai/blog/editorial-analytics-increase-audience-attention-to-your-news-stories')
            .bg_filter
            .bg_gradient
            .blogpost_feat_art_title
                h2 Editorial Analytics: Increase 'Audience Attention' to your news stories
            .blogpost_feat_art_topic
                span audience development
        .blogpost_feat_art(style="background: url('https://www.native.ai/hubfs/analysis-analytics-business-chart.jpg?t=1527297526385') 50% 50% / cover;")
            a.blogpost_feat_art_link(href='https://www.native.ai/blog/google-analytics-vs-custom-analytics-for-publishers')
            .bg_filter
            .bg_gradient
            .blogpost_feat_art_title
                h2 Why you need Publisher Analytics, even if you already use Google Analytics
            .blogpost_feat_art_topic
                span audience development