// See How NativeAI Works for You =====================================================================
.homepage--four-screen
    .wrapper
        .title
            h2 Top Brands Rely on NativeAI
        //- .subtitle
            p
                | NativeAI’s sponsored content network provides quality, branded, editorial,
                br
                | and corporate blog posts and thought leadership papers from today's top brands
        .brands-section
            .brands-row
                .brand-item
                    img(src='assets/images/brands/thomson.png')
                .brand-item
                    img(src='assets/images/brands/billboard.png')
                .brand-item
                    img(src='assets/images/brands/realclear.png')
                .brand-item
                    img(src='assets/images/brands/ozy.png')
                .brand-item
                    img(src='assets/images/brands/rollcall.png')
                .brand-item
                    img(src='assets/images/brands/euronews.png')
            .brands-row
                .brand-item
                    img(src="assets/images/brands/realclearpolitics.png", alt="")
                .brand-item
                    img(src="assets/images/brands/rollingstone.png", alt="")
                .brand-item
                    img(src="assets/images/brands/gearpatrol.png", alt="")
                .brand-item
                    img(src="assets/images/brands/cbs.png", alt="")
                .brand-item
                    img(src="assets/images/brands/afar.png", alt="")
                .brand-item
                    img(src="assets/images/brands/fatherly.png", alt="")
        a.button.blue(href="#")
            | View case study
        //- .testimonials-section
            .testimonial-item.card
                .user-info-box
                    .avatar-box
                        img(src='assets/images/testimonials/user-01.png')
                    .name-box
                        .name
                            h3 Rachel Decker
                        .company
                            span.text.size-16.grey HubSpot, inc.
                .quote-box
                    p.italic
                        | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
            .testimonial-item.card
                .user-info-box
                    .avatar-box
                        img(src='assets/images/testimonials/user-01.png')
                    .name-box
                        .name
                            h3 Rachel Decker
                        .company
                            span.text.size-16.grey HubSpot, inc.
                .quote-box
                    p.italic
                        | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
            .testimonial-item.card
                .user-info-box
                    .avatar-box
                        img(src='assets/images/testimonials/user-01.png')
                    .name-box
                        .name
                            h3 Rachel Decker
                        .company
                            span.text.size-16.grey HubSpot, inc.
                .quote-box
                    p.italic
                        | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
        // See How NativeAI Works for You =====================================================================