section.carousel
    h2 NativeAI Dashboard
    .carousel_slider
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/dash.jpg", alt="")
            .carousel_item_label
                | Real-time Dashboard
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/dash.jpg", alt="")
            .carousel_item_label
                | Real-time Dashboard
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/dash.jpg", alt="")
            .carousel_item_label
                | Real-time Dashboard
            