section.carousel
    h2 NativeAI Dashboard
    .carousel_slider
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/01_real-time_dashboard.png", alt="Real-time Dashboard")
            .carousel_item_label
                | Real-time Dashboard
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/02_activity_report.png", alt="Activity Report")
            .carousel_item_label
                | Activity Report
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/03_audience_interests_report.png", alt="Audience Interests Report")
            .carousel_item_label
                | Audience Interests Report
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/04_story_report.png", alt="Story Report")
            .carousel_item_label
                | Story Report
        .carousel_item
            .carousel_item_img
                img(src="./assets/images/carousel/05_author_report.png", alt="Author Report")
            .carousel_item_label
                | Author Report
script(src="/js/components/carousel.min.js")