// Case study box =====================================================================
mixin case_study(header, color)
    .case-study-box
        .wrapper
            .case-study--img
                img(src='assets/images/illustrations/case.svg')
            .case-study--text
                .title
                    h3 Case Study: #{header}
                .text-button
                    .text
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit...
                    .button-box
                        a.button.border(href='#' class=color) Download Now