// Case study box =====================================================================
.case-study-box
    .wrapper
        .case-study--img
            img(src='assets/images/case.svg')
        .case-study--text
            .title
                h3 Case Study: How X Company Crushed Their Engagement KPI's By X%
            .text-button
                .text
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit...
                .button-box
                    a.button.border.orange(href='#') Download Now