section.dashboard
    .wrapper.row
        .col-md-6
            .dashboard_img
                img(src=`assets/images/infographic/engagement.png` srcset=`assets/images/infographic/engagement.png 1x, assets/images/infographic/engagement@2x.png 2x` alt='Engagement today compared to typical Tuesday')
        .col-md-6
            h3.dashboard_header
                | Intuitive Analytics Dashboard
            p.dashboard_text
                | Manage all these with our highly intuitive Content Analytics Dashboard that features all the essential metrics that every digital publisher should use. The Dashboard can also be shared with all your teams including Editorial, Audience Development, Marketing & Data Analytics and offers the following features.
            +list(['Understands content', 'Groups similar articles', 'Maps Audience behavior to Grouped & Individual Interests', 'Allows you to deep dive and identify insightsby Topic Affinities & Audience profiles'], 'list--orange')
            a.mainhow_link(href='./dashboard.html')
                | Go to Dashboard
                i
                    +icon('arrow', [20, 14], '#f2751c')