section.dashboard
    .wrapper.row
        .col-md-6
            .dashboard_img
                img(src=`assets/images/infographic/engagement.png` srcset=`assets/images/infographic/engagement.png 1x, assets/images/infographic/engagement@2x.png 2x` alt='Engagement today compared to typical Tuesday')
        .col-md-6
            h2.dashboard_header
                | Intuitive Analytics Dashboard
            p.dashboard_text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utvolutpat dolor sed gravida imperdiet. Quisque sit amet feugiat dolor, in ullamcorper nisl. Nulla convallis pharetra nulla, sed semper sapien laoreet eu.
            +list(['Understands content', 'Groups similar articles', 'Maps Audience behavior to Grouped & Individual Interests', 'Allows you to deep dive and identify insightsby Topic Affinities & Audience profiles'], 'list--orange')
            a.mainhow_link(href='./dashboard.html')
                | Go to Dashboard
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='-1000 612 17.322 12', width='17', height='12')
                    g(transform='translate(-1313 163.071)')
                        rect(width='1.697', height='8.485', rx='0.849', transform='translate(329.122 453.729) rotate(45)')
                        rect(width='16.971', height='1.697', rx='0.849', transform='translate(313 454.08)')
                        rect(width='8.485', height='1.697', rx='0.849', transform='translate(324.322 448.929) rotate(45)')
