-
    const deploy_items = [
        {
            mod: 'green',
            title: 'Siderail / Bottom Widget',
            descr: 'Whether you want to add the suggestions to the sidebar or at the end of a story, you can use our powerful widgets to integrate NativeAI Recommended stories customizable themes to match your page design.'
        },
        {
            mod: 'orange',
            title: 'API',
            descr: 'Need to implement content recommendations across the website, mobile apps and other platforms with unique integration and analytics tracking challenges? Use our powerful API to get recommended stories for each user and populate your feeds in real-time.'
        },
        {
            mod: 'yellow',
            title: 'CMS Plug-ins',
            descr: 'Use WordPress as your CMS? Install our plug-in for a seamless integration of our AI-powered Content Recommendations into your website.',
            attrs: {
                class: 'align-self-end'
            }

        },
        {
            mod: 'blue',
            title: 'Newsletters & Push Notifications',
            descr: 'Do you send targeted Push Notifications or Dynamic email newsletters with recommended stories tailored for each user? Use our superior audience analysis & engagement data to customize story feeds in these channels.',
            attrs: {
                class: 'align-self-end'
            }
        }
    ]
        

mixin deploy_item(data)
    .col-sm-4&attributes(attributes)
        .deploy_item&attributes({'class': `deploy_item--${data.mod}`})
            h3.deploy_item_title
                =data.title
            p.deploy_item_descr
                !=data.descr

section.deploy
    .container
        h2.deploy_header
            | Flexible & Easy to Deploy
        .row.deploy_inner
            each item, i in deploy_items
                +deploy_item(item)&attributes(item.attrs)
                if i % 2  === 0
                    .col-sm-4
            h2.deploy_brain
                | NAI
                br
                | Lorem
                br
                | Ipsum
