// First screen =====================================================================
.homepage--first-screen
    .wrapper
        .ill-section
            img(src='https://cdn2.hubspot.net/hubfs/3048376/assets/images/illustrations/home-01.svg?t=1519765288206', alt='publisher analytics')
        .text-section
            .main-title
                h1
                    | Analyze,
                    br
                    | Optimize &
                    br
                    | Grow Your Audience
            .descr
                p Actionable Audience Intelligence & Engaging Native Advertising
            .email-box
                .button-box.contact-form.permanent-input
                    form.demo-request-form(action='')
                        .promo-field-container
                            input.email-input.promo-field(placeholder='Email address', type='email')
                        input.button.orange.mobile-icon.get-email-button(value='Get a Demo', type='submit', style='margin-left:0')
                    .email-submit-message-container(style='color: rgb(220, 25, 25);')
                        span.email-submit-message
                .button-box.contact-form-mobile.permanent-input
                    form.demo-request-form(action='')
                        .promo-field-container
                            input.email-input.promo-field(placeholder='Email address', type='email')
                        .email-submit-message-container.hidden
                            span.email-submit-message
                        input.button.orange.get-email-button(value='Get a Demo', type='submit')
                .sign-in-offer
                    span.text.size-16.black
                        | Already using NativeAI? 
                        a(href='https://app.native.ai/signin') Sign in
