mixin first(header, descr)
    section.first
        .wrapper
            h1=header
            p.first_descr=descr
            a.button.orange(href="./register.html")
                | Talk to Us
                i
                    +icon('arrow', [20, 14], '#fff')
            .first_ill
                .first_ill_img
                    img(src="assets/images/illustrations/anim.gif", alt=header)
                p.first_ill_label
                    | NativeAI - Under the Hood