// Footer =====================================================================
footer
    .footer--first-box
        .wrapper
            .footer--logo-box
                a(href='https://www.native.ai', alt='NativeAI Content Analytics for Publishers', title='NativeAI Logo')
            .footer--nav-box
                nav
                    ul
                        li
                            span.bold Solutions
                            ul
                                li
                                    a(href='/analytics.html') Publisher Analytics
                                li
                                    a(href='/advertising.html') Native Advertising
                                li
                                    a(href='/demo-registration') Get a Demo
                                li
                                    a(href='https://app.native.ai/signin') Sign In
                        li
                            span.bold Analytics Tips & Insights
                            ul
                                li
                                    a(href='/blog') NativeAI Blog
                                li
                                    a(href='/all-stars') Content Marketing All-Stars
                        li
                            span.bold About
                            ul
                                li
                                    a(href='https://news360.com/team', target='_blank') Team
                                li
                                    a(href='https://news360.com/careers', target='_blank') Careers
                                li
                                    a(href='/privacy') Privacy Policy
                                li
                                    a(href='/terms') Terms of Service
    .footer--second-box
        .wrapper
            .footer--copyright-box
                span © 2018 NativeAI
                //- span
                    a.underline(href='/privacy', target='_blank') Privacy
                    |  & 
                    a.underline(href='/terms', target='_blank') Terms
            .footer--soc-links
                a(href='https://www.facebook.com/nativeai', target='_blank')
                    img(src='https://cdn2.hubspot.net/hubfs/3048376/assets/images/facebook.svg')
                a(href='https://twitter.com/nativeai', target='_blank')
                    img(src='https://cdn2.hubspot.net/hubfs/3048376/assets/images/twitter.svg')