// Footer =====================================================================
footer.footer
    .footer--first-box
        .wrapper
            .footer--logo-box
                a.footer--logo-box_logo(href='/', alt='NativeAI Content Analytics for Publishers', title='NativeAI Logo')
                    img(src="/assets/images/logo.svg", alt="NativeAI")
                .footer--logo-box_bottom
                    a.button.slim.border.orange(href="#")
                        | Sign In
                    a.footer--logo-box_link(href="./register.html")
                        | Get a Demo
            .footer--nav-box
                nav
                    ul
                        li
                            span.bold Solutions
                            ul
                                li
                                    a(href='./analytics.html') Publisher Analytics
                                li
                                    a(href='./advertising.html') Native Advertising
                                li
                                    a(href='./dashboard.html') Analytics Dashboard
                        li
                            span.bold Analytics Tips & Insights
                            ul
                                li
                                    a(href='./blog.html') NativeAI Blog
                                li
                                    a(href='./blog.html') Content Marketing All-Stars
                        li
                            span.bold About
                            ul
                                li
                                    a(href='#', target='_blank') Team
                                li
                                    a(href='#', target='_blank') Careers
    .footer--second-box
        .wrapper
            .footer--copyright-box
                span © 2018 NativeAI
                span
                    a(href='#', target='_blank') Privacy Policy
                span
                    a(href='#', target='_blank') Terms of Use
            .footer--soc-links
                a(href='#', target='_blank')
                    +icon('facebook', [9, 18] ,'#495057')
                a(href='#', target='_blank')
                    +icon('twitter', [18, 15] ,'#495057')