// Footer =====================================================================
footer.footer
    .footer--first-box
        .wrapper
            .footer--logo-box
                a.footer--logo-box_logo(href='https://www.native.ai', alt='NativeAI Content Analytics for Publishers', title='NativeAI Logo')
                    img(src="https://cdn2.hubspot.net/hubfs/3048376/assets/images/logo.png", alt="NativeAI")
                .footer--logo-box_bottom
                    a.button.slim.border.orange(href="https://app.native.ai/signin")
                        | Sign In
                    a.footer--logo-box_link(href="#")
                        | Get a Demo
            .footer--nav-box
                nav
                    ul
                        li
                            span.bold Solutions
                            ul
                                li
                                    a(href='/analytics.html') Publisher Analytics
                                li
                                    a(href='/advertising.html') Native Advertising
                                li
                                    a(href='/dashboard.html') Analytics Dashboard
                        li
                            span.bold Analytics Tips & Insights
                            ul
                                li
                                    a(href='/blog') NativeAI Blog
                                li
                                    a(href='/all-stars') Content Marketing All-Stars
                        li
                            span.bold About
                            ul
                                li
                                    a(href='https://news360.com/team', target='_blank') Team
                                li
                                    a(href='https://news360.com/careers', target='_blank') Careers
    .footer--second-box
        .wrapper
            .footer--copyright-box
                span © 2018 NativeAI
                span
                    a(href='/privacy', target='_blank') Privacy Policy
                span
                    a(href='/terms', target='_blank') Terms of Use
            .footer--soc-links
                a(href='https://www.facebook.com/nativeai', target='_blank')
                    img(src='https://cdn2.hubspot.net/hubfs/3048376/assets/images/facebook.svg')
                a(href='https://twitter.com/nativeai', target='_blank')
                    img(src='https://cdn2.hubspot.net/hubfs/3048376/assets/images/twitter.svg')