// Seven screen =====================================================================
section.publisher--seven-screen.blue-line-text-box.grey-bg
    .wrapper
        .title-box
            h2 Get a Grip on Performance
        .subtitle-links-box
            .links
                h3 Increase Retention
                h3 Boost Engagement
                h3 Beat the Competition
        .main-content
            .text-box
                p
                    | NativeAI helps you identify opportunities for growth, and the building blocks to increase engagement and grow your audience. 
                    br
                    | This platform gives you the intelligence you need to increase the performance of your content, grow your audience, and drastically increase your audience engagement.
                if page == 'analytics'
                    p
                        | On average, our 
                        strong users report 20X increases in engagement and CTR
                        |  over their previous content amplification platforms.
            .img-box
                img(src='assets/images/illustrations/pub-2.svg')
        .button-box
            a.button.orange.glow(href="./register.html")
                span I Want a Demo
                i
                    +icon('arrow', [20, 14], '#fff')