// Header =====================================================================
header.header
    .wrapper
        .header--nav-toggle
            .icon-box
                span
                span
                span
        .header--logo-box
            a(href='/', title='NativeAI')
                img(src="/assets/images/logo.svg", alt="NativeAI")
        .header--nav-box
            nav
                ul
                    li
                        a.navigation-button-header(href='./analytics.html') Publisher Analytics
                    li
                        a.navigation-button-header(href='./how.html') How it works
                    li
                        .dropdown-button.dropdown-button.navigation-button-header Blogs
                        .header-dropdown-div
                            ul
                                li
                                    a(href='./blog.html') Blog
                                li
                                    a(href='./blog.html') Content Marketing All-Stars
                    li
                        .dropdown-button.dropdown-button.navigation-button-header About
                        .header-dropdown-div
                            ul
                                li
                                    a(href='#', target='_blank') Team
                                li
                                    a(href='#', target='_blank') Careers
                                li
                                    a(href='#') Privacy Policy
                                li
                                    a(href='#') Terms of Use
                ul
                    li
                        a.navigation-button-header.non_highlighted(href='#') Sign In
        .header--sign-in-box
            a.button.slim.border.orange(href='#')
                span Get Started

// Mobile drawer =====================================================================
.header--mobile-box
    .mobile-box--top-bar
        .mobile-box--logo-box
            img(src="/assets/images/logo.svg", alt="NativeAI")
        .mobile-box--close-btn
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='-997.778 34.293 15.556 15.556', width='16', heigth='16')
                g(style='stroke:#343a40; stroke-width:2px;', transform='translate(-1339 14.071)')
                    line(x1='20', transform='translate(341.929 20.929) rotate(45)')
                    line(x1='20', transform='translate(341.929 35.071) rotate(-45)')
    .mobile-box--nav-box
        nav
            ul
                li
                    a.navigation-button-header-mobile(href='./analytics.html')
                        i
                            +icon('nav_publ', [20, 20], '#4c6ef5')
                        span Publisher Analytics
                li
                    a.navigation-button-header-mobile(href='./how.html')
                        i
                            +icon('nav_how', [20, 20], '#4c6ef5')
                        span How it works
                li
                    .navigation-button-header-mobile
                        i
                            +icon('nav_blog', [20, 20], '#4c6ef5')
                        span Blogs
                    .mobile-menu-subitems
                        ul
                            li
                                a(href='./blog.html') Blog
                            li
                                a(href='./blog.html') Content Marketing All-Stars
                li
                    .navigation-button-header-mobile
                        i
                            +icon('nav_about', [20, 20], '#4c6ef5')
                        span About
                    .mobile-menu-subitems
                        ul
                            li
                                a(href='#', target='_blank') Team
                            li
                                a(href='#', target='_blank') Careers
                            li
                                a(href='#') Privacy Policy
                            li
                                a(href='#') Terms of Use
                li
                    a.navigation-button-header-mobile(href='#')
                        i
                            +icon('nav_sign', [20, 16], '#4c6ef5')
                        span Sign In
    .mobile-box--sign-in-box
        a.button.orange.glow.wide(href='#')
            span Get Started
            i
                +icon('arrow', [20, 14], '#fff')
.header--filter

// End Header =====================================================================