mixin item(img, title)
    .mainhow_item
        .mainhow_item_img
            img(src="assets/images/how-it-work/" + img + ".svg" alt=title)
        p.mainhow_item_title
            !=title
// See How NativeAI Works for You =====================================================================
section.mainhow
    .wrapper
        .title
            h2 See How NativeAI Works for You
        .mainhow_top
            .mainhow_items
                +item('02', 'More Than One Million <br> Identifiable Interests')
                +item('03', 'Segment Based <br> on Interest Profiles')
                +item('05', 'Identify Key Engagement <br> Opportunities')
                +item('00', 'Connect Engagement <br> Quality With Content Char.')
            a.button.orange.width-icon(href="#")
                | I Want a Demo
        .mainhow_bottom
            .mainhow_bottom_img
                img(src="assets/images/illustrations/home-publishers.svg", alt="Publisher Analytics")
            p.mainhow_bottom_content
                | Let us show you how easy it is to get deep intelligence on your audience, and how to use that intelligence to drive 20X engagement.
                a.mainhow_link(href="#")
                    | Learn more about Publisher Analytics
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='-1000 612 17.322 12', width='17', height='12')
                        g(transform='translate(-1313 163.071)')
                            rect(width='1.697', height='8.485', rx='0.849', transform='translate(329.122 453.729) rotate(45)')
                            rect(width='16.971', height='1.697', rx='0.849', transform='translate(313 454.08)')
                            rect(width='8.485', height='1.697', rx='0.849', transform='translate(324.322 448.929) rotate(45)')
