mixin item(img, title)
    .mainhow_item
        .mainhow_item_img
            img(src="assets/images/how-it-work/" + img + ".svg" alt=title)
        p.mainhow_item_title
            !=title

// See How NativeAI Works for You ====================================================================
section.mainhow
    .wrapper
        .title
            h2 See How NativeAI Works for You
        .mainhow_top
            .mainhow_items
                +item('02', 'More Than One Million <br> Identifiable Interests')
                +item('03', 'Segment Based <br> on Interest Profiles')
                +item('05', 'Identify Key Engagement <br> Opportunities')
                +item('00', 'Connect Engagement <br> Quality With Content Char.')
            a.button.orange(href="./register.html")
                | I Want a Demo
                i
                    +icon('arrow', [20, 14], '#fff')
        .mainhow_bottom
            .mainhow_bottom_img
                img(src="assets/images/illustrations/home-publishers.svg", alt="Publisher Analytics")
            p.mainhow_bottom_content
                | Let us show you how easy it is to get deep intelligence on your audience, and how to use that intelligence to drive 20X engagement.
                a.mainhow_link(href="#")
                    | Learn more about Publisher Analytics
                    i
                        +icon('arrow', [20, 14], '#f2751c')