mixin interests(second, header, text, mod)
    section.homepage--five-screen(class=mod)
        .wrapper
            if page == 'main'
                .interests_img.interests_img--top
                    img(src="assets/images/illustrations/interests.svg", alt="")
            else
                include ../components/_treemap
            .title
                h2= header
            .text-section
                if text === 'list'
                    if page == 'main'
                        blockquote.blockquote--simple
                            | Every question you have as a Digital Publisher, answered:
                        +list(['Who reads your content?', 'How much do they engage with it?', 'Which audience segment likes what content topics?', 'What other topics will each audience segment be interested in?'])
                    else
                        +list(['Understands content', 'Groups similar articles', 'Maps Audience behavior to Grouped <br>& Individual Interests', 'Allows you to deep dive and identify insights <br>by Topic Affinities & Audience profiles'])
                else
                    !=text
        if second
            .wrapper.interests
                .interests_img
                    video(preload loop muted playsinline autoplay)
                        source(src='/assets/videos/interests.mp4', type='video/mp4')
                        source(src='/assets/videos/interests.webm', type='video/webm')
                        | Your browser doesn't support HTML5 video tag.

                .interests_content
                    h3 How NativeAI solves Data Overload
                    .paragraph
                        h4 Content Analytics
                        | NativeAI gives you all the common metrics you need to measure the effectiveness of your content
                    .paragraph
                        h4 Engagement Volume & Quality
                        | Measure Performance in terms of Quantity (number of readers) as well as Quality (time spent reading and scroll depth)
                    .paragraph
                        h4 Real-time Content Intelligence
                        | Know how your content is performing, as it picks up steam across channels and various audience segments
                    .paragraph
                        h4 Actionable Content Insights
                        | Give your Editorial & Distribution teams the power they need to proactively increase engagement, and crush their KPIs.