section.language
    .wrapper
        h2.language_header
            | Natural Language Processing
        p.language_descr
            | Under the hood of our NLP engine
    .row
        .col-sm-4
            .language_item
                .language_item_img
                    img(src="assets/images/language/interests.svg", alt="1Million+ Audience Interests")
                p.language_item_title
                    | 1Million+ Audience Interests
        
        .col-sm-4
            .language_item
                .language_item_img
                    img(src="assets/images/language/classification.svg", alt="Advanced Topic Classification & Tagging")
                p.language_item_title
                    | Advanced Topic Classification & Tagging

        .col-sm-4
            .language_item
                .language_item_img
                    img(src="assets/images/language/ontology.svg", alt="Rapidly Expanding Ontology")
                p.language_item_title
                    | Rapidly Expanding Ontology