section.nlp
    .wrapper
        h2 Understand Content using NLP
        .nlp_anim
            img(src="assets/images/illustrations/anim.gif", alt='Understand Content using NLP')
        .nlp_bottom
            a.button.border.orange
                | Learn More
                i
                    +icon('arrow', [20, 14], '#ff832a')