section.optimization
    .wrapper
        .optimization_row
            .optimization_img
                img(src="assets/images/illustrations/optimization.svg", alt="Subscription & Conversion Optimization")
            .optimization_content
                h2.optimization_header
                    | Subscription 
                    br
                    | & Conversion Optimization
                p.optimization_descr
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                +list(['<strong>Lorem ipsum dolor</strong><br>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.', '<strong>Lorem ipsum dolor</strong><br>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.', '<strong>Lorem ipsum dolor</strong><br>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.'], 'list--orange')
                .optimization_bottom
                    a.button.border.blue(href="#")
                        | Learn More
                        i
                            +icon('arrow', [20, 14], '#4c6ef5')