// Power for ... =====================================================================
.homepage--three-screen
    .wrapper
        .power-item.orange
            .img-section.orange-line
                .title-box
                    h3.bold Publishers
                img(src='assets/images/illustrations/home-publishers.svg')
            .list-section
                ul
                    li
                        p More Than One Million Identifiable Interests
                    li
                        p Segment Based on Interest Profiles
                    li
                        p Identify Key Engagement Opportunities
                    li
                        p Connect Engagement Quality With Content Char.
                .more-link
                    a(href='#')
                        span Learn more about Publisher Analytics
                        i
                            svg(xmlns='http://www.w3.org/2000/svg', viewbox='-1000 612 17.322 12', width='17', height='12')
                                g(transform='translate(-1313 163.071)')
                                    rect(width='1.697', height='8.485', rx='0.849', transform='translate(329.122 453.729) rotate(45)')
                                    rect(width='16.971', height='1.697', rx='0.849', transform='translate(313 454.08)')
                                    rect(width='8.485', height='1.697', rx='0.849', transform='translate(324.322 448.929) rotate(45)')
            .how-to-get-section
                .title-box
                    h3 How to Get Started
                ul
                    li
                        p Add a simple tag to your tag manager
                    li
                        p That’s it!
            .button-box
                a.button.orange(href='#') Let's Do It!
        .power-item.blue
            .img-section.blue-line
                .title-box
                    h3.bold Power for Native Advertisers
                img(src='assets/images/illustrations/home-advertising.svg')
            .list-section
                ul
                    li
                        p 20X Engagement Metrics
                    li
                        p 4+% Click-Through Rate
                    li
                        p 2+% Share Rate
                    li
                        p 60± Second Reading Times
                .more-link
                    a(href='#')
                        span Learn more about Publisher Analytics
                        i
                            svg(xmlns='http://www.w3.org/2000/svg', viewbox='-1000 612 17.322 12', width='17', height='12')
                                g(transform='translate(-1313 163.071)')
                                    rect(width='1.697', height='8.485', rx='0.849', transform='translate(329.122 453.729) rotate(45)')
                                    rect(width='16.971', height='1.697', rx='0.849', transform='translate(313 454.08)')
                                    rect(width='8.485', height='1.697', rx='0.849', transform='translate(324.322 448.929) rotate(45)')
            .how-to-get-section
                .title-box
                    h3 How to Get Started
                ul
                    li
                        p
                            | Get an 
                            a(href='#') Audience Match Demo
                    li
                        p Review a Campaign Proposal
                    li
                        p Activate a Test Campaign and Watch ROI Skyrocket!
            .button-box
                a.button.blue(href='#') Let's Do It!