
mixin circle_hint(hint, pos)
    .hints_circle_hint&attributes({'class': `hints_circle_hint--${pos}`})
        .hints_circle_hint_icon
            +icon(...hint.icon)
        p.hints_circle_hint_title
            =hint.title

mixin circle(title, hints)
    - const positions = ['top_left', 'top_right', 'bottom'];
    .hints_col.col-lg-6
        .hints_circle
            h3=title
            .hints_circle_lines
                each pos in positions
                    .hints_circle_line&attributes({'class': `hints_circle_line--${pos}`})
            .hints_circle_hints
                each hint, i in hints
                    +circle_hint(hint, positions[i])
section.hints
    .hints_container
        .container
            .row
                +circle('Grow', [
                    {
                        title: 'Engagement',
                        icon: ['recommend_engagement', [32, 32]]
                    }, 
                    {
                        title: 'Recirculation',
                        icon: ['recommend_recirculation', [33, 33]]
                    }, 
                    {
                        title: 'Revenue',
                        icon: ['recommend_revenue', [32, 31]]
                    }
                ])
                +circle('Avoid', [
                    {
                        title: 'Reader Churn',
                        icon: ['recommend_churn', [43, 41], 'none']
                    },
                    {
                        title: 'Sleazy Ads',
                        icon: ['recommend_ads', [32, 32], 'none']
                    },
                    {
                        title: 'Stale or Creepy Recommendations',
                        icon: ['recommend_creepy', [32, 32], 'none']
                    }
                ])
    .hints_footer
        .container
            a.button.blue.actual(href="#")
                | Demo
                i
                    +icon('arrow', [20, 14], '#fff')