
mixin help_item
    .col-sm-6&attributes(attributes)
        h3.rechelp_item_header
            | Lorem ipsum dolor sit amet
        p.rechelp_item_descr
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes

mixin help_ill(mod)
    .col-lg-5.col-sm-6&attributes(attributes)
        .rechelp_item_ill
            img(src=`./assets/images/illustrations/insights/${mod}.svg`, alt="ill")

mixin help_row(odd)
    .row.align-items-center.justify-content-between.rechelp_item
        if odd
            +help_item()(class="order-2 order-sm-1")
            +help_ill('analytics')(class="order-1 order-sm-2")
        else
            +help_ill('optimization')
            +help_item

section.rechelp
    .container.rechelp_container
        h2.rechelp_header
            | Why content Recommendation Help
        .rechelp_inner
            each _, i in Array(4)
                +help_row((i % 2 == 0))