section.recarticles
    .container
        .row.align-items-center
            .col-lg-3.order-2.order-lg-1
                +list(['<h3>Relevant Stories</h3>', '<h3>Average x% CTR Lift</h3>', '<h3>Customizable content library</h3>'], 'list--orange list--big')
            .col-lg-9.order-1.order-lg-2
                .recarticles_block
                    h2.recarticles_header
                        | Recommended Articles:
                    .recarticles_items
                        each article in ['Top US envoy on North Korea: \'We are not going to invade North Korea\'', 'This bird’s drumming on his body lures the lady', 'Chinese Probe Uncovers New Mystery on the Dark Side of the Moon']
                            .recarticles_item
                                .recarticles_item_img
                                    img(src=`https://placeimg.com/450/260/tech?${Math.random()}`, alt=article)
                                p.recarticles_item_title
                                    =article
                                    
