section.script
    .wrapper
        h2.script_header
            | Advanced Script for Real-time Analytics
        .script_content
            .script_text
                +list(['<h3>All the metrics you need</h3>Traffic, Acquisition, Behavior,<br>and Interest Segments', '<h3>Asynchronous load</h3>Great tracking accuracy & lower<br>latency', '<h3>Simple & light tracking script</h3>Keeps your website blazing fast'], 'list--large')
            .script_img
                img(src="assets/images/illustrations/script.svg", alt="Advanced Script for Real-time Analytics")