section.script
    .wrapper
        h2.script_header
            | Advanced Script for Real-time Analytics
        .row
            .col-lg-6
                .script_content
                    .script_text
                        +list(['<strong>All the metrics you need</strong><br>Track scroll depth, time on pageclick and engagement quality', '<strong>Light-weight script</strong><br>Keeps your website blazing fast', '<strong>Asynchronous load</strong><br>More accurate, lower latency'])
            .col-lg-6
                .script_img
                    img(src="assets/images/illustrations/script.svg", alt="Advanced Script for Real-time Analytics")