// See How NativeAI Works for You =====================================================================
.homepage--six-screen
    .wrapper
        .title
            h2 See How NativeAI Works for You
        .items-wrapper
            .item-box.card
                .img-section.orange-line
                    .title-box
                        h3.bold Publishers
                    img(src='assets/images/illustrations/home-publishers.svg')
                .content-section
                    .text-box
                        p
                            | Let us show you how easy it is to get deep intelligence on your audience, and how to use that intelligence to drive 20X engagement.
                    .button-box
                        a.button.orange(href='#') I Want a Demo
            .item-box.card
                .img-section.blue-line
                    .title-box
                        h3.bold Native Advertising
                    img(src='assets/images/illustrations/home-advertising.svg')
                .content-section
                    .text-box
                        p
                            | Get an Audience Match demonstration and e'll show you five insights inside of 15 minutes.
                    .button-box
                        a.button.blue(href='#') I Want a Demo