section.testdrive
    .container
        .row.align-items-center.justify-content-center
            .col-sm-6.order-2.order-sm-1
                h2.testdrive_header
                    | Test Drive NAI Lorem
                p.testdrive_descr
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            .col-lg-3.col-md-5.offset-md-1.col-sm-6.order-1.order-sm-2.testdrive_ill
                img(src="./assets/images/illustrations/step_3.svg", alt="Test Drive NAI Lorem")
                a.button.orange(href="#")
                    | Get a Demo
                    i
                        +icon('arrow', [20, 14], '#fff')