section.testdrive
    .container
        .row.align-items-center.justify-content-center
            .col-sm-6.order-2.order-sm-1
                h2.testdrive_header
                    | Demo & Trial: Content Recommendations
                p.testdrive_descr
                    | Signup for a 15 minute demo of the content recommendations engine and also a 30 day free trial for both our analytics and the recommendations platforms.
            .col-lg-3.col-md-5.offset-md-1.col-sm-6.order-1.order-sm-2.testdrive_ill
                img(src="./assets/images/illustrations/step_3.svg", alt="Test Drive NAI Lorem")
                a.button.orange(href="#")
                    | Get a Demo
                    i
                        +icon('arrow', [20, 14], '#fff')