/* LP - First screen
  ======================================================================== */

.lp-first-screen {
    padding: 98px 0;
    overflow: hidden;
    @media screen and ( max-width: 1140px) {
        padding: 98px 40px;
    }
    @media screen and ( max-width: 480px) {
        padding: 77px 16px;
    }
    &--dash.lp-first-screen {
        padding-bottom: 120px;
        @media screen and (max-width: 640px) {
            padding-top: 67px;
            padding-bottom: 80px;
            text-align: center;
        }
        .wrapper{
            max-width: 930px;
            .ill-section{
                top: -17px;
                right: 0;
                width: auto;
                height: auto;
                @media screen and (max-width: 1023px) {
                    right: -10px;
                }
                @media screen and (max-width: 840px) {
                    right: -177px;
                    top: -84px;
                    opacity: 0.25;
                }
                @media screen and (max-width: 640px) {
                    width: 340px;
                    opacity: 1;
                    top: auto;
                    bottom: 85px;
                    right: calc(50% - 170px);
                }
                img{
                    max-width: 100%;
                }
            }
        }
        .titles-section {
            min-height: 315px;
            @media screen and (max-width: 840px) {
                min-height: 220px;
            }
            @media screen and (max-width: 640px) {
                min-height: auto;
            }
            .main-title {
                @media screen and (max-width: 640px) {
                    padding-bottom: 8px;
                }
            }
            .button-box{
                padding: 0;
            }
        }
        .main-title, .descr{
            br{
                @media screen and (max-width: 840px) {
                    display: none;
                }
            }
        }
        .descr {
            @media screen and (max-width: 640px) {
                padding-bottom: 225px;
                br{
                    display: inherit;
                }
            }
        }
    }
    .wrapper {
        position: relative;
    }
    .titles-section {
        position: relative;
        // z-index: 20;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-title {
        padding-bottom: 32px;
        @media screen and ( max-width: 480px) {
            padding-bottom: 20px;
        }
    }
    .descr {
        padding-bottom: 47px;
        @media screen and ( max-width: 480px) {
            padding-bottom: 40px;
        }
    }
    .button-box {
        padding-bottom: 72px;
        @media screen and ( max-width: 480px) {
            padding-bottom: 47px;
            .button:not(.glow) {
                width: 100%;
                padding-left: 16px;
                text-align: left;
            }
        }
    }
    .ill-section {
        position: absolute;
        top: -20px;
        right: -40px;
        width: 774px;
        height: 281px;
        // z-index: 10;
        @media screen and ( max-width: 1023px) {
            top: 70px;
            right: -10px;
            width: 512px;
            height: 186px;
        }
        @media screen and ( max-width: 840px) {
            right: -40px;
        }
        @media screen and ( max-width: 699px) {
            top: 0;
            right: -200px;
            opacity: .16;
        }
        @media screen and ( max-width: 480px) {
            top: -30px;
        }
        img {
            width: 100%;
            float: right;
        }
    }
}