mixin list(data, mod = '')
    ul.list(class=mod)
        each item in data
            li.list_item
                .list_circle
                    if !(mod.includes('--digits') || mod.includes('--dots'))
                        +icon('check', [13, 9], '#000', [16, 11])
                .list_content
                    != item