- const domain = 'nativeai.salex.pro'
block const
    -
        const title = 'Title'
        const description = 'Description'
        const keywords = 'keyword'

include components/_icons

doctype html
html(lang='en')
    head
        include components/_head
    body
        include sections/_header
        block content
        include sections/_footer
        script(src='js/app.min.js')
        block js