extends ../layout
block const
    -
        const title = 'NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'

block content
    // Components
    include ../sections/_first_adv
    include ../sections/_case_study
    include ../sections/_eight

    // Sections
    +first_adv('home-advertising', 'Native Advertising', 'Engage the <strong>Right</strong> Audience and Deliver Performance', 'Get a Quick Demo')
    // Second screen =====================================================================
    .adv--second-screen
        .wrapper
            p
                | Take the scattershot approach out of native advertising, and stop paying for clicks from an audience that isn’t interested in your message. Traditionally, ad campaign performance has easily been hampered by wasted budget spent on the wrong audience. NativeAI changes that, completely.
            p
                | The NativeAI platform engineers native advertising to reach the right audience, causing engagement metrics to skyrocket. Through the power of advanced algorithms, artificial intelligence, and machine learning, advertisers can drive impressive ROI, and finally exceed their KPI’s on demand.
    
    // Third screen =====================================================================
    .adv--third-screen.blue-line-text-box.grey-bg
        .wrapper
            .title-box
                h2 NativeAI Fuels Ad Engagement
            .subtitle-links-box
                .links
                    h3 4% CTR
                    h3 60-Second Read Times
                    h3 2% Share Rate
            .main-content
                .graph-box
                .text-box
                    p
                        | Advertisers report an average 20X increase in engagement with NativeAI over other content amplification platforms.
    
    // Four screen =====================================================================
    .adv--four-screen
        .wrapper
            .text-section
                .title
                    h2 Intelligent Audience Match
                .subtitle
                    p Placing Your Native Ads Where They Perform Best
                .quote
                    blockquote
                        | The NativeAI platform gives advertisers a secret weapon to increase their spend ROI, and crush their key performance indicators (KPI’S). The power of the platform is based on three differentiators.
            .ill-section
                img(src='assets/images/illustrations/adv-1.svg')
    
    // Fifth screen =====================================================================
    .adv--fifth-screen.three-cols-screen
        .wrapper
            .cols3-section
                .col
                    h3.bold Smart Interest Targeting
                    hr
                    p
                        | Our platform features cutting edge machine learning and artificial intelligence, constantly working to aggregate data on more than one million distinct audience interests. With a sample size of more than sixty million, and growing, we know how users interact with content, what kind of content drives the most engagement, and why.
                    p
                        | This automated interest analysis helps NativeAI hyper-target native advertising much deeper than a simple demographic model. It ensures your content appears to people who are actually interested in what you have to say.
                .col
                    h3.bold Premium Placements
                    hr
                    p
                        | When your content is relegated to a widget area, or pushed to the bottom of a story along with a bunch of other clickbait advertisements, engagement is not the only thing that suffers. Your brand image suffers as well.
                    p
                        | NativeAI’s native advertising features first-class, organic content that is truly native to high-quality web properties. We not only drive engagement, we increase brand reputation by placing your native advertisements in the premium spotlight your brand deserves.
                .col
                    h3.bold Campaign Analytics
                    hr
                    p
                        | The NativeAI platform’s deep analytics engine provides detailed intelligence on your audience. Running native ad campaigns on NativeAI means you will learn who your audience really is, and get insights on what content is performing best for which segments.
                    p
                        | As you learn your audience’s preferences, what kind of ads perform the best, and which segment responds to what content, you don’t just get ahead of the game - you change the game.
    
    +case_study('See How X Drove a X% Increase in ROI/CTR/ENGAGEMENT', 'blue')
    
    // How It Works =====================================================================
    .adv--sixth-screen.ill-2-cols
        .wrapper
            .title
                h2 How It Works
            .subtitle
                p
                    | NativeAI isn’t difficult to manage, and it doesn’t require hours of work on your part. Getting started is simple.
                    br
                    | Campaigns are 
                    strong manageable
                    | . And the impact is 
                    strong scalable
                    | .
            .how-it-works-section
                .ill-box
                    img(src='assets/images/illustrations/adv-2.svg')
                    img(src='assets/images/illustrations/adv-3.svg')
                    img(src='assets/images/illustrations/adv-4.svg')
                .items-box
                    .item
                        .number 1
                        .title-box
                            h3 Setup a Content Feed
                        hr
                        .text-box
                            p
                                | The power of NativeAI is in deep audience intelligence. All we need to start is links to content, or even better, an RSS feed. The system takes care of the rest. Using machine learning and artificial intelligence, NativeAI will automate deep audience analysis to understand the best way to target your content, automatically extracting and reformatting the story to fit into the News360, and partner publisher, responsive layouts.
                    .item
                        .number 2
                        .title-box
                            h3 Continuous Optimization
                        hr
                        .text-box
                            p
                                | Once your campaign is running, NativeAI continuously optimizes, making sure the right stories are promoted to the right audience. You get access to a real-time dashboard, showing who’s engaging with your content, and how it’s performing.
                    .item
                        .number 3
                        .title-box
                            h3 Measure, Learn, Repeat
                        hr
                        .text-box
                            p
                                | Once the campaign is completed, NativeAI provides you a report on the earned engagement, data on the engaged audience, as well as insights into what content did well,and why.
                                br
                                br
                                | Most clients are impressed by the results, of course, but they are also amazed at the ease of use and the rich, actionable data they receive.
    
    // Top Brands Rely on NativeAI =====================================================================
    .homepage--four-screen.adv--seventh-screen
        .wrapper
            .title
                h2 Top Brands Rely on NativeAI
            .testimonials-section
                .testimonial-item.card
                    .user-info-box
                        .avatar-box
                            img(src='assets/images/testimonials/user-01.png')
                        .name-box
                            .name
                                h3 Rachel Decker
                            .company
                                span.text.size-16.grey HubSpot, inc.
                    .quote-box
                        p.italic
                            | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
                .testimonial-item.card
                    .user-info-box
                        .avatar-box
                            img(src='assets/images/testimonials/user-01.png')
                        .name-box
                            .name
                                h3 Rachel Decker
                            .company
                                span.text.size-16.grey HubSpot, inc.
                    .quote-box
                        p.italic
                            | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
                .testimonial-item.card
                    .user-info-box
                        .avatar-box
                            img(src='assets/images/testimonials/user-01.png')
                        .name-box
                            .name
                                h3 Rachel Decker
                            .company
                                span.text.size-16.grey HubSpot, inc.
                    .quote-box
                        p.italic
                            | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
    
    // Tools CTA =====================================================================
    .publisher--six-screen
        .wrapper
            .tools-cta-frame
    
    // How to Get Started =====================================================================
    .adv--nineth-screen.grey-bg
        .wrapper
            .title
                h2 How to Get Started
            .subtitle
                p It's Easy and Fast!
            .how-to-section
                .how-to-item.first
                    .number 1
                    .title-box
                        h3.bold Get an Audience Match Demo
                    .text-box
                        p
                            | We recommend getting a quick audience match demo, 
                            br
                            | which will give you a much better understanding of how 
                            br
                            | the platform works, and what you should expect.
                .how-to-item.second
                    .number 2
                    .title-box
                        h3.bold
                            | Review Our Test
                            br
                            | Campaign Proposal
                    .text-box
                        p
                            | We provide a campaign proposal 
                            br
                            | based on your budget and goals.
                .how-to-item.third
                    .number 3
                    .title-box
                        h3.bold Activate the Test Campaign
                    .text-box
                        p
                            | Monitor engagement on your real-time dashboard, or wait for the 
                            br
                            | campaign to finish and view the result report. Then, repeat as desired.
            .button-box
                a.button.orange(href='#') Let's Do It!
    
    // Seven screen =====================================================================
    .adv--tenth-screen.grey-bg
        .wrapper
            .title
                h2 Crush Your KPI’s Like a Boss
            .subtitle
                p Put Artificial Audience Intelligence to Work For You and Crush Your KPIs
            .main-content
                .text-box
                    p
                        | Deep audience intelligence and machine learning is a secret weapon for native 
                        br
                        | advertising. Put that weapon to work for you, and experience what it’s like to 
                        br
                        | change the native advertising game and crush your competition.
                .img-box
                    img(src='assets/images/illustrations/adv-5.svg')
    
    +eight('Get an Audience Match Demo Now', 'Get a quick demo on the power of the NativeAI platform. We\'ll show you five<br>audience insights, and how they apply to your campaigns within 15 minutes.', 'blue', 'I Want a Demo', 'home-advertising')