extends ../layout
block const
    -
        const page = 'analytics'
        const title = 'NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'
block content
    // Components
    include ../sections/_3col
    include ../sections/_eight
    include ../sections/_analysis

    // First screen =====================================================================
    .publisher--first-screen.lp-first-screen
        .wrapper
            .ill-section
                img(src='assets/images/illustrations/home-publishers.svg')
            .titles-section
                .main-title
                    h1 Publisher Analytics
                .descr
                    p Actionable Insights To Put Editors Ahead of the Game
                .button-box
                    a.button.orange.mobile-icon(href='#')
                        span Get a Demo
            .text-section
                p
                    | Publishing highly engaging content doesn’t have to be a guessing game. When you possess deep, actionable intelligence about your readers, what kind of content they like and why, you don’t just get a competitive advantage, you change the game entirely.
    
    +3col('publisher--second-screen')
    +analysis

    // How It Works =====================================================================
    .publisher--five-screen.ill-2-cols
        .wrapper
            .title
                h2 How It Works
            .subtitle
                p For a tool as powerful as this is, using it is surprisingly simple:
            .how-it-works-section
                .ill-box
                    img(src='assets/images/illustrations/pub-1.svg')
                .items-box
                    .item
                        .number 1
                        .title-box
                            h3 Add a simple tag to your tag manager
                        hr
                        .text-box
                            p
                                | The NativeAI tag is very efficient, and loads asynchronously, so site performance is unaffected. (Estimated time to complete: 2-Minutes)
                    .item
                        .number 2
                        .title-box
                            h3 Wait for Data
                        hr
                        .text-box
                            p
                                | Wait three-to-four weeks while NativeAI compiles data and extracts actionable data.
                    .item
                        .number 3
                        .title-box
                            h3 Unleash your super power
                        hr
                        .text-box
                            p
                                | Change the game with your ability to publish content that drives audience engagement.
    
    // Top Brands Rely on NativeAI =====================================================================
    .homepage--four-screen
        .wrapper
            .title
                h2 Top Brands Rely on NativeAI
            .subtitle
                p
                    | NativeAI’s sponsored content network provides quality, branded, editorial,
                    br
                    | and corporate blog posts and thought leadership papers from today's top brands
            .brands-section
                .brand-item
                    img(src='assets/images/brands/thomson.png')
                .brand-item
                    img(src='assets/images/brands/billboard.png')
                .brand-item
                    img(src='assets/images/brands/realclear.png')
                .brand-item
                    img(src='assets/images/brands/ozy.png')
                .brand-item
                    img(src='assets/images/brands/rollcall.png')
                .brand-item
                    img(src='assets/images/brands/euronews.png')
            .testimonials-section
                .testimonial-item.card
                    .user-info-box
                        .avatar-box
                            img(src='assets/images/testimonials/user-01.png')
                        .name-box
                            .name
                                h3 Rachel Decker
                            .company
                                span.text.size-16.grey HubSpot, inc.
                    .quote-box
                        p.italic
                            | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
                .testimonial-item.card
                    .user-info-box
                        .avatar-box
                            img(src='assets/images/testimonials/user-01.png')
                        .name-box
                            .name
                                h3 Rachel Decker
                            .company
                                span.text.size-16.grey HubSpot, inc.
                    .quote-box
                        p.italic
                            | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
                .testimonial-item.card
                    .user-info-box
                        .avatar-box
                            img(src='assets/images/testimonials/user-01.png')
                        .name-box
                            .name
                                h3 Rachel Decker
                            .company
                                span.text.size-16.grey HubSpot, inc.
                    .quote-box
                        p.italic
                            | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
    
    // Tools CTA =====================================================================
    .publisher--six-screen
        .wrapper
            .tools-cta-frame
    
    include ../sections/_grip
    +eight('Let Us Show You How to Get an Unfair Advantage', 'Get a quick demo to see how NativeAI can help you increase engagement<br>on-demand and win market share. We\'ll show you 5 incredible<br>audience insights in as little 15 Minutes.', 'orange', 'I Want a Demo', 'home-publishers')