extends ../layout
block const
    -
        const page = 'blog'
        const title = 'Content &amp; Publisher Analytics Insights to drive Engagement'
        const description = 'Get expert insights on using Content Analytics, Audience Intelligence and more backed by Artificial Intelligence for your publisher business.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'
block content
    .blog-masthead.bg-dark
        .flex-wrapper01
            .blog_feat_art.featured-article(style="background: url('https://www.native.ai/hubfs/accounts-applications-apps-267350-1.jpg?t=1535575368705') 50% 50% / cover;")
                a.blog_feat_art_link(href='#')
                .bg_filter
                .blog_feat_art_inner
                    .blog_feat_art_title
                        h1 4 Social Media Trends that can impact traffic for Digital Publishers
                    .blog_feat_art_topic
                        span audience development
        .flex-wrapper02
            .blog_feat_art.featured-article(style="background: url('https://www.native.ai/hubfs/blurred-background-close-up-coffee-cup-908284.jpg?t=1535575368705') 50% 50% / cover;")
                a.blog_feat_art_link(href='#')
                .bg_filter
                .blog_feat_art_inner
                    .blog_feat_art_title
                        h1.small_title 5 Audience Development Trends every publisher should tap
                    .blog_feat_art_topic
                        span audience development
            .blog_feat_art.featured-article(style="background: url('https://www.native.ai/hubfs/seo-pexels-photo-218717.jpeg?t=1535575368705') 50% 50% / cover;")
                a.blog_feat_art_link(href='#')
                .bg_filter
                .blog_feat_art_inner
                    .blog_feat_art_title
                        h1.small_title 5 Search trends every Audience Development expert should be watching
                    .blog_feat_art_topic
                        span audience development
    .blog-category
        .container
            .row
                .col-xs-12.text-center
                    li
                        a(href='#') Publisher Analytics
                    li
                        a(href='#') Content Analytics
                    li
                        a(href='#') Editorial Analytics
                    li
                        a(href='#') audience development
                    li
                        a(href='#') content intelligence
                    li
                        a(href='#') digital publishing
                    li
                        a(href='#') artificial intelligence analytics
                    li
                        a(href='#') Digital Subscriptions
                    li
                        a(href='#') publishing
                    li
                        a(href='#') AI Analytics
    .articles-list
        .container
            .row
                .col-sm-10.col-sm-offset-1
                    .row
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/accident-banana-skin-be-careful-36763.jpg?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') digital publishing
                                .article-content
                                    h3
                                        a(href='#') 6 Big Digital Media Analytics Mistakes to Avoid, for Publishers
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') NativeAI
                                        |  / August 9, 2018
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/blog-images/Native.AI_Real-Time-Data-Analytics.png?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') Publisher Analytics
                                .article-content
                                    h3
                                        a(href='#') Are Real-Time Data Analytics Really Valuable to Digital Publishers?
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') NativeAI
                                        |  / August 1, 2018
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/box-cheerful-color-207983.jpg?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') contentmarketing
                                .article-content
                                    h3
                                        a(href='#') Good Content vs. Bad Content: Top Strategists explain the difference
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') NativeAI
                                        |  / August 1, 2018
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/battle-board-game-castle-277124.jpg?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') artificial intelligence analytics
                                .article-content
                                    h3
                                        a(href='#') Product Update: Compare your Content or Topic mix with that of your peers!
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') Karthik
                                        |  / July 31, 2018
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/blog-images/Native.AI_Measuring-Content-Engagement.png?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') Publisher Analytics
                                .article-content
                                    h3
                                        a(href='#') Measuring Content Engagement: The Most Important Engagement Metrics
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') NativeAI
                                        |  / July 25, 2018
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/soccer-ball-in-field-with-net_4460x4460.jpg?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') digital publishing
                                .article-content
                                    h3
                                        a(href='#') In the Media: Coverage & Consumption of World Cup 2018 News
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') Karthik
                                        |  / July 23, 2018
        .container
            .row
                .col-sm-10.col-sm-offset-1
                    .row
                        .col-sm-6
                            .article-panel.wow.fadeInUp
                                .article-img
                                    a(href='#')
                                        .img-wrapper(style="background: url('https://www.native.ai/hubfs/blog-images/Native.AI_Publishers-Leaving-Facebook.png?t=1535575368705') 50% 50% / cover")
                                    .tag
                                        a(href='#') audience development
                                .article-content
                                    h3
                                        a(href='#') Publishers Leaving Facebook: Where Will They Go Next?
                                    .author
                                        strong
                                            | Written by 
                                            a(href='#') NativeAI
                                        |  / July 18, 2018
    .blog-pagination
        .container
            span Prev
            a.all-posts-link(href='#') All posts
            a.next-posts-link(href='#') Next