extends ../layout
block const
    -
        const title = 'NativeAI - Dashboard & Metrics'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'

block content
    // Components
    include ../components/_list
    include ../sections/_first_adv
    include ../sections/_3col
    include ../sections/_brands
    include ../sections/_eight
    include ../sections/_analysis

    // Sections
    +first_adv('how-works', 'Dashboard & Metrics', 'Learn how we deliver actionable insights', 'Talk to us')
    include ../sections/_anim
    include ../sections/_language
    include ../sections/_script
    +3col('publisher--second-screen unfair')
    +analysis(true)
    
    // How It Works =====================================================================
    .publisher--five-screen.ill-2-cols
        .wrapper
            .title
                h2 How It Works
            .subtitle
                p For a tool as powerful as this is, using it is surprisingly simple:
            .how-it-works-section
                .ill-box
                    img(src='assets/images/illustrations/pub-1.svg')
                .items-box
                    .item
                        .number 1
                        .title-box
                            h3 Add a simple tag to your tag manager
                        hr
                        .text-box
                            p
                                | The NativeAI tag is very efficient, and loads asynchronously, so site performance is unaffected. (Estimated time to complete: 2-Minutes)
                    .item
                        .number 2
                        .title-box
                            h3 Wait for Data
                        hr
                        .text-box
                            p
                                | Wait three-to-four weeks while NativeAI compiles data and extracts actionable data.
                    .item
                        .number 3
                        .title-box
                            h3 Unleash your super power
                        hr
                        .text-box
                            p
                                | Change the game with your ability to publish content that drives audience engagement.
    
    +brands('h3', 'Top Publishers and Brands Rely on NativeAI', 'Download Case Study')
    include ../sections/_grip
    +eight('Get an Unfair Advantage', 'Get a quick demo to see how NativeAI can help you increase engagement<br>on-demand and win market share. We\'ll show you 5 incredible<br>audience insights in as little 15 Minutes.', 'orange', 'I Want a Demo', 'home-publishers')

block js
    script(src="js/treemap.min.js")