extends ../layout
block const
    -
        const title = 'NativeAI - How NativeAI Works'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'

block content
    //- Components
    include ../components/_list
    include ../sections/_first
    include ../sections/_eight
    include ../sections/_interests
    include ../sections/_brands

    //- Sections
    +first('How NativeAI Works', 'Learn how we deliver actionable insights')
    include ../sections/_nlp
    +interests(false, 'Audience Interests', 'list', 'audience')
    include ../sections/_behavior
    include ../sections/_script
    include ../sections/_dashboard
    +brands('h2', 'Top Publishers and Brands Rely on NativeAI', 'Download Case Study')
    include ../sections/_faq
    +eight('Get an Audience Match Demo Now', 'Get a quick demo on the power of the NativeAI platform. We\'ll show you five audience insights, and how they apply to your campaigns within 15 minutes.', 'orange', 'Get a Demo', 'eight_demo')

block js
    script(src="js/treemap.min.js")