doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
        meta(name='description', content='NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.')
        meta(name='keywords', content='native advertising, native content, native marketing, content advertising, publisher content, promo content')
        meta(name='google-site-verification', content='im692VYYIe_XKs3WVlA9BgsbX6-EWc20R6Sps-bDAM0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')
        link(rel='manifest', href='assets/favicon/manifest.json')
        link(rel='mask-icon', href='assets/favicon/safari-pinned-tab.svg', color='#ff892a')
        link(rel='shortcut icon', href='assets/favicon/favicon.ico')
        meta(name='apple-mobile-web-app-title', content='NativeAI')
        meta(name='application-name', content='NativeAI')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-TileImage', content='assets/favicon/mstile-144x144.png')
        meta(name='msapplication-config', content='assets/favicon/browserconfig.xml')
        meta(name='theme-color', content='#ff892a')
        title NativeAI - Publisher Analytics & Monetization Platform
        link(rel='canonical', href='https://native.ai/')
        link(rel='stylesheet', href='style.css')
        link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='js/app.min.js')
    body
        include ../sections/_header
        include ../sections/_first
        include ../sections/_analytics
        
        // Power for ... =====================================================================
        .homepage--three-screen
            .wrapper
                .power-item.orange
                    .img-section.orange-line
                        .title-box
                            h3.bold Publishers
                        img(src='assets/images/illustrations/home-publishers.svg')
                    .list-section
                        ul
                            li
                                p More Than One Million Identifiable Interests
                            li
                                p Segment Based on Interest Profiles
                            li
                                p Identify Key Engagement Opportunities
                            li
                                p Connect Engagement Quality With Content Char.
                        .more-link
                            a(href='#')
                                span Learn more about Publisher Analytics
                                i
                                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='-1000 612 17.322 12', width='17', height='12')
                                        g(transform='translate(-1313 163.071)')
                                            rect(width='1.697', height='8.485', rx='0.849', transform='translate(329.122 453.729) rotate(45)')
                                            rect(width='16.971', height='1.697', rx='0.849', transform='translate(313 454.08)')
                                            rect(width='8.485', height='1.697', rx='0.849', transform='translate(324.322 448.929) rotate(45)')
                    .how-to-get-section
                        .title-box
                            h3 How to Get Started
                        ul
                            li
                                p Add a simple tag to your tag manager
                            li
                                p That’s it!
                    .button-box
                        a.button.orange(href='#') Let's Do It!
                .power-item.blue
                    .img-section.blue-line
                        .title-box
                            h3.bold Power for Native Advertisers
                        img(src='assets/images/illustrations/home-advertising.svg')
                    .list-section
                        ul
                            li
                                p 20X Engagement Metrics
                            li
                                p 4+% Click-Through Rate
                            li
                                p 2+% Share Rate
                            li
                                p 60± Second Reading Times
                        .more-link
                            a(href='#')
                                span Learn more about Publisher Analytics
                                i
                                    svg(xmlns='http://www.w3.org/2000/svg', viewbox='-1000 612 17.322 12', width='17', height='12')
                                        g(transform='translate(-1313 163.071)')
                                            rect(width='1.697', height='8.485', rx='0.849', transform='translate(329.122 453.729) rotate(45)')
                                            rect(width='16.971', height='1.697', rx='0.849', transform='translate(313 454.08)')
                                            rect(width='8.485', height='1.697', rx='0.849', transform='translate(324.322 448.929) rotate(45)')
                    .how-to-get-section
                        .title-box
                            h3 How to Get Started
                        ul
                            li
                                p
                                    | Get an 
                                    a(href='#') Audience Match Demo
                            li
                                p Review a Campaign Proposal
                            li
                                p Activate a Test Campaign and Watch ROI Skyrocket!
                    .button-box
                        a.button.blue(href='#') Let's Do It!
        
        // See How NativeAI Works for You =====================================================================
        .homepage--four-screen
            .wrapper
                .title
                    h2 Top Brands Rely on NativeAI
                .subtitle
                    p
                        | NativeAI’s sponsored content network provides quality, branded, editorial,
                        br
                        | and corporate blog posts and thought leadership papers from today's top brands
                .brands-section
                    .brand-item
                        img(src='assets/images/brands/thomson.png')
                    .brand-item
                        img(src='assets/images/brands/billboard.png')
                    .brand-item
                        img(src='assets/images/brands/realclear.png')
                    .brand-item
                        img(src='assets/images/brands/ozy.png')
                    .brand-item
                        img(src='assets/images/brands/rollcall.png')
                    .brand-item
                        img(src='assets/images/brands/euronews.png')
                .testimonials-section
                    .testimonial-item.card
                        .user-info-box
                            .avatar-box
                                img(src='assets/images/testimonials/user-01.png')
                            .name-box
                                .name
                                    h3 Rachel Decker
                                .company
                                    span.text.size-16.grey HubSpot, inc.
                        .quote-box
                            p.italic
                                | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
                    .testimonial-item.card
                        .user-info-box
                            .avatar-box
                                img(src='assets/images/testimonials/user-01.png')
                            .name-box
                                .name
                                    h3 Rachel Decker
                                .company
                                    span.text.size-16.grey HubSpot, inc.
                        .quote-box
                            p.italic
                                | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
                    .testimonial-item.card
                        .user-info-box
                            .avatar-box
                                img(src='assets/images/testimonials/user-01.png')
                            .name-box
                                .name
                                    h3 Rachel Decker
                                .company
                                    span.text.size-16.grey HubSpot, inc.
                        .quote-box
                            p.italic
                                | "Never underestimate the power of a great testimonial. A few words of praise from a happy customer can work wonders. A big, friendly smile never hurts, either."
        
        // See How NativeAI Works for You =====================================================================
        .homepage--five-screen.grey-bg
            .wrapper
                .interests-box-wrapper
                    .int-box
                .title
                    h2 Take the Guesswork out of Audience Engagement
                .text-section
                    blockquote
                        | Blindly creating and promoting content without understanding what engages your audience isn’t marketing, it’s guessing.
                    p
                        | Data is everywhere, but collecting data from your target audience and presenting it in an easily digestible and actionable format is extremely difficult. The problem has traditionally been a lack of actionable, understandable intelligence and insight.
                    p
                        | Through advanced algorithms, machine learning and artificial intelligence, publishers and native advertisers can get a clear picture of&nbsptheir audience’s interests, how to segment based on behavior, and the kinds of content that performs best for each segment. This intuitive look into audience intelligence provides editorial and distribution teams the power they need to increase engagement proactively, and crush their KPI’s.
        
        include ../sections/_case_study
       
        // See How NativeAI Works for You =====================================================================
        .homepage--six-screen
            .wrapper
                .title
                    h2 See How NativeAI Works for You
                .items-wrapper
                    .item-box.card
                        .img-section.orange-line
                            .title-box
                                h3.bold Publishers
                            img(src='assets/images/illustrations/home-publishers.svg')
                        .content-section
                            .text-box
                                p
                                    | Let us show you how easy it is to get deep intelligence on your audience, and how to use that intelligence to drive 20X engagement.
                            .button-box
                                a.button.orange(href='#') I Want a Demo
                    .item-box.card
                        .img-section.blue-line
                            .title-box
                                h3.bold Native Advertising
                            img(src='assets/images/illustrations/home-advertising.svg')
                        .content-section
                            .text-box
                                p
                                    | Get an Audience Match demonstration and e'll show you five insights inside of 15 minutes.
                            .button-box
                                a.button.blue(href='#') I Want a Demo
        
        include ../sections/_footer