extends ../layout
block const
    -
        const title = 'NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'

block content
    include ../sections/_first
    include ../sections/_analytics
    include ../sections/_brands
    include ../sections/_start
    include ../sections/_interests
    include ../sections/_how
    include ../sections/_blog_feature