extends ../layout
block const
    -
        const title = 'NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'

block content
    // Components
    include ../sections/_interests
    include ../sections/_brands
    include ../components/_list

    // Sections
    include ../sections/_first_old
    include ../sections/_analytics
    +brands('h2', 'Top Brands Rely on NativeAI', 'View case study', true)
    include ../sections/_start
    +interests(true, 'Content Intelligence that lets you take data-informed decisions', '<blockquote>isn’t marketing, it’s guessing.</blockquote><p>Content Analytics tools are plenty, Data is everywhere, but how much of it are you able to use immediately?  The problem has traditionally been a lack of actionable, understandable intelligence and insight.</p>', 'grey-bg')
    include ../sections/_how
    include ../sections/_blog_feature

block js
    script(src="js/treemap.min.js")