extends ../layout
block const
    -
        const title = 'NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'
block content
    // First screen =====================================================================
    .adv-c--first-screen.lp-first-screen
        .wrapper
            .ill-section
                img(src='assets/images/illustrations/advertising-content.svg')
            .titles-section
                .main-title
                    h1
                        | Native Advertising 
                        br
                        | Content
                .descr
                    p Driving Higher Engagement With Native Content
                .button-box
                    a.button.blue.mobile-icon(href='#')
                        span Get a Demo
    
    // Second screen =====================================================================
    .adv-c--second-screen
        .wrapper
            .section-title
                h2 What Is Native Advertising?
            .cols2-section
                .col
                    p
                        | Native advertising is a kind of advertising that takes the form of the advertising platform. In other words, it doesn’t feel or behave like a normal advertisement. Instead, it feels like a part of the platform on which it is displayed. As long as the sponsored piece of content is “in-feed,” and doesn’t disrupt the normal user experience of the platform, it can be referred to as “native” advertising.
                .col
                    p
                        | According to Dictionary.com, Native Advertising is “content on a website that conforms to the design and format of the site and is integrated into the site’s usual content.”
                    p
                        | The most common type of native advertising is editorial-based content, in similar subject and style to the rest of the content already on the platform. However, the label of native advertising can also be applied to other areas, like sponsored social media posts.
            .cols2-section
                .col.ill-box
                    img(src='assets/images/illustrations/adv-c-01.svg')
                    img.tab-hide(src='assets/images/illustrations/adv-c-03.svg')
                .col
                    .section-title
                        h2
                            | Native Advertising vs. 
                            br
                            | Display Advertising: 
                            br
                            | The Shift to Value-First
                    p
                        | Traditional display advertising has been around for centuries, and easily made the transition to the digital world of the internet. Websites, platforms, and search engines have long sold traditional display advertising space on their pages as a way to generate revenue. And, advertisers realized a nice return on their investment.
                    p
                        | However, over time, the phenomenon of “ad blindness” has taken over, which causes typical users to have to see an ad several times before they even notice it. Even in cases where users do notice the ads, the quality of engagement compared to the number of clicks has taken a steep drop.
                    p Clicks are still there, but the same can’t be said of engagement.
                    p
                        | As more advertisers flooded the display advertisement space, the more ad blindness became apparent. As ads became more common, they also became less effective.
                    p
                        | The diverging graphs of decreased effectiveness and increased cost has led advertisers to try something else: value-first advertising.
            .section-title
                h3.bold What Is Value-First Native Advertising?
            .cols2-section
                .col
                    p
                        | Value-first is an assumption that, if you give the reader something of value, they are more likely to respond positively toward your offer, or advertisement. This assumption has largely been proven valid, which has led larger publishers and advertisers to approach advertising through a new vehicle: sponsored content.
                .col
                    p
                        | While sponsored content can take a lot of different forms, the purpose is to provide value through the content, which is used to drive engagement with the targeted offer. ‘Value,’ in the sponsored content approach, can be defined as anything that is educational, inspirational, or even entertaining.
            .ill-wide
                img(src='assets/images/illustrations/adv-c-04.svg')
    
    // Third screen =====================================================================
    .adv-c--third-screen.grey-bg
        .wrapper
            .section-title.center
                h2 7 Benefits of Sponsored Content Native Advertising
            .section-subtitle.center
                p
                    | There are many benefits to sponsored content advertising over traditional display advertising. 
                    br
                    | These are four of the most apparent benefits of most native advertising campaigns:
            .cols2-section.pin-grid.benefits-list
                .col.ben-1
                    .list-title
                        h3.bold 1. Experience Higher Engagement Rates
                    hr
                    .list-text
                        p
                            | According to a 
                            a(href='#') 2017 report
                            |  in the HuffPost, native advertisements drive 
                            strong 20-60%
                            |  more engagement than standard ads, with a 
                            strong 25%
                            |  lift in users actively reading the advertisement over traditional advertisements. Perhaps the greatest statistic from the report is an 
                            strong 18% increase in purchase intent
                            |  from those who engage with native advertisements.
                .col.ben-2
                    .list-title
                        h3.bold 2. Seems More Trustworthy
                    hr
                    .list-text
                        p
                            | Entrepreneur magazine 
                            a(href='#') pointed out
                            |  that the majority of users trust sponsored content more than traditional advertising. And the difference is getting wider as the public increasingly tires of traditional advertising methods.
                        p
                            | Apple, for instance, released ad blockers in Safari web browser by default. Ad blocker apps are very popular, even among younger demographics. And thanks to modern streaming technology, commercials are being skipped.
                        p
                            | The root of the matter is, most people dislike being sold to. Sponsored content is a way to bridge the gap, engage the audience on their terms, and elicit the proper response from those who are engaged and interested in the offer.
                .col.ben-3
                    .list-title
                        h3.bold 3. More Time to Communicate Value
                    hr
                    .list-text
                        p
                            | As mentioned before, users have become good at not even noticing display advertisements. And when they do, it’s such a quick transaction; the ad only has a fraction of a second to make an appeal, and are limited to small micro-messages to drive engagement.
                        p
                            | Sponsored content, on the other hand, drives greater audience retention, giving advertisers more time, and opportunity to elicit a response.
                .col.ben-4
                    .list-title
                        h3.bold 4. Advertising With Context
                    hr
                    .list-text
                        p
                            | A display ad is quick and somewhat static. When the reader engages with your long-form content for 60 seconds or more, you have a much higher likelihood of inducing a response. In short, you can add context to the advertisement, which adds clarity to value, and increases user response.
                .col.ben-5
                    .list-title
                        h3.bold 5. Build Trust With Thought Leadership
                    hr
                    .list-text
                        p
                            | Helpful content that adds value to the reader positions the brand as a thought leader and builds trust and credibility. With trust being vital to conversion rates, building trust on the front end of advertising removes friction from the rest of the conversion funnel.
                .col.ben-6
                    .list-title
                        h3.bold 6. Wider Appeal With Narrower Message
                    hr
                    .list-text
                        p
                            | Long-form content gives adds flexibility over traditional advertising, giving brands more opportunities to creatively fine-tune their message. They can customize the message for specific segments of their market to increase the effectiveness of their sponsored content even more.
                .col.ben-7
                    .list-title
                        h3.bold 7. Thoughtful Content Has Viral Capabilities
                    hr
                    .list-text
                        p
                            | Traditional ads are static in appeal. Helpful, long-form sponsored content is often shared by readers to their social networks, which increases the organic reach through “word of mouth,” which adds even more credibility to the content. Content that is shared has the potential to go viral, which could explode a brand’s exposure overnight.
                .col.ben-ill
                    img(src='assets/images/illustrations/adv-c-02.svg')
    
    // Four screen =====================================================================
    .adv-c--four-screen
        .wrapper
            .section-title
                h2 4 Brands Winning With Native Content
            .cols2-section
                .col
                    p
                        | Every major publisher in the world is engaged, in some way, with native content advertising, from Time and Forbes Magazines to the New York Times and the Wall Street Journal. Younger media companies, like Buzzfeed, are further pushing the popularity and development of native advertising.
                .col
                    p
                        | The largest social media channels in the world are also driving native advertising monetization, such as Facebook, Instagram, and Tumblr. However, the following companies are mastering native content and using it to dramatically expanding their audience and drive engagement with their brand.
            .winning-brands-section
                .brand-item.card
                    .top-section
                        .logo-box
                            img(src='assets/images/brands/gm.jpg')
                        .name-box
                            h3 General Motors
                            hr.orange
                        .counter-box
                            h3
                                span.orange 1
                                |  / 4
                    .cols2-section
                        .col
                            p
                                | When the Camaro Zl1  1LE was tested at the famous Nürburgring Nordschleife track, GM recognized the opportunity to engage their audience and increase buzz. Rather than creating advertisements for the vehicle, they decided to document the event.
                            p
                                i
                                    | “We sent a film crew to capture it all (in-car, aerial, interviews, driver prep, etc.),” said Whitney Drake. “Then we researched the hottest racing video games for inspiration and designed an interface to overlay the video, making it feel much more modern and interactive.”
                        .col
                            p
                                | They posted the video to YouTube and Facebook, and embedded the full video into a press release. The campaign resulted in more than 158 news stories and 1.6 million views of the video on Facebook alone.
                            p
                                i
                                    | “We knew the Camaro’s time would garner coverage, but through integrated storytelling and powerful assets, we transformed what could have been standard coverage into a powerful moment in car history for enthusiasts across the globe.”
                                |  Drake said.
                    .bottom-section
                        a.button.orange(href='#') Read the full story (and video)
                .brand-item.card
                    .top-section
                        .logo-box
                            img(src='assets/images/brands/bnb.jpg')
                        .name-box
                            h3 Airbnb
                            hr.blue
                        .counter-box
                            h3
                                span.blue 2
                                |  / 4
                    .cols2-section
                        .col
                            p
                                | Airbnb disrupted an industry that had been free of new ideas for decades. And, they are doing the same with their content marketing strategies.
                            p
                                | Alex Beauchamp, Head of Global Content and Social Media for Airbnb explains their content strategy as a way to create a world of fewer strangers and more friends. This is key to understanding their content marketing - their brand is not just about cheap rooms on vacation - content about that would be boring.
                        .col
                            p
                                | Their content is about connecting people from various locations and backgrounds, and turning strangers into friends.
                            p
                                | One of their most powerful content pieces is a video they produced that shares a true story of two former guards from opposite sides of the Berlin wall. One was a customer of Airbnb and the other the host - meeting helped both men heal scars they had carried for many years.
                    .bottom-section
                        a.button.blue(href='#') Read more and see the video
                .brand-item.card
                    .top-section
                        .logo-box
                            img(src='assets/images/brands/rbull.jpg')
                        .name-box
                            h3 Red Bull
                            hr.orange
                        .counter-box
                            h3
                                span.orange 3
                                |  / 4
                    .cols2-section.col-big-video
                        .col
                            p
                                | If you don’t know the name Felix Baumgartner, you should really spend more time on YouTube. Red Bull’s mission “
                                a(href='#') Stratos
                                | ”, to skydive from the edge of space (setting records along the way) is just one example of Red Bull creating amazing content experiences beyond just display advertising.
                        .col.video-col
                            .video-box
                .brand-item.card
                    .top-section
                        .logo-box
                            img(src='assets/images/brands/gopro.jpg')
                        .name-box
                            h3 GoPro
                            hr.blue
                        .counter-box
                            h3
                                span.blue 4
                                |  / 4
                    .cols2-section
                        .col
                            p
                                | The GoPro brand is leading the pack when it comes to native content advertising. GoPro partners with influencers from different industries, from athletes to musicians to travel brands, to make native content. Specifically, video content.
                        .col
                            p
                                | And it’s working. 
                                a(href='#') CMI points out
                                |  that GoPro’s YouTube channel has 3.2 million subscribers. Of their athlete partners’ videos, 388 of them have received more than 50 million views… each!
                            p
                                | They have reached a status where customer-generated content is now joining with their viral efforts, as more than 6,000 GoPro-tagged videos are uploaded to YouTube every day.
    
    // Fifth screen =====================================================================
    .adv-c--fifth-screen
        .wrapper
            .section-title
                h2 How To Implement Native Advertising Effectively
            .cols2-section
                .col
                    p
                        | The elusive secret of effective native content lies in user engagement. You can create content for years, but it won’t matter if it’s not content your audience wants to engage with.
                    blockquote Creating content is hard. Engaging your target audience is even harder.
                    p
                        | Effective native advertising is the marriage of two separate principles: interesting content and a deep understanding of the ideal audience for that content.
                .col
                    p
                        | Felix Baumgartner dropping from space is interesting content, but doesn’t appeal to Allstate Insurance’s audience in a meaningful way. However, for the young adrenaline junkies of the world, those who consume the most Red Bull, the prospect of jumping from the edge of space is invigorating and inspiring. They not only want to be associated with the brand that did it, but they also want to do it themselves.
                    p
                        | The sad truth is, for every GoPro and Airbnb, there are hundreds of companies struggling to get results from their native content advertising campaigns. However, with the right tools, you can get the insight to close the gap between interesting content and audience engagement.
    
    // Tools CTA =====================================================================
    .publisher--six-screen.adv-c--tools-cta
        .wrapper
            .tools-cta-frame
    
    // Sixth screen =====================================================================
    .adv-c--sixth-screen
        .wrapper
            .section-title
                h2 The Tools of Effective Native Advertising
            .cols2-section
                .col
                    p
                        | As mentioned earlier, there are many different types of what you could label ‘native advertising.’ However, the most common type is editorial content native to the platform where that content is published. There are a great many tools, like OutBrain and ShareThrough, which help native content advertisers promote their content and grow their audience.
                .col
                    p
                        | The NativeAI platform is such a tool as well. And, while we believe you should evaluate all your options, there are a few areas we believe NativeAI gives you more power than alternatives. In fact, our advertisers report an average 20X increase in engagement using the NativeAI platform compared to other platforms.
            .section-title
                h3 Our native advertisers enjoy amazing success metrics, such as:
            .cols2-section.col-list
                .col.list-col
                    .list-section
                        ul
                            li
                                p Higher Than 4% Click-Through Rate
                            li
                                p Greater Than 60-Second Read Times
                            li
                                p Over 2% Share Rate
                .col
                    p
                        | One of the more exciting features of the NativeAI platform is the readiness of deep audience insights at your exposure. You can effectively remove the guesswork when it comes to the kind of content and the topics your target audience engages with the most. Using real-time user data across more than 1 million distinct interests, NativeAI’s machine learning and advanced algorithms identify content opportunities that can drive the most engagement, empowering native advertisers with the insight needed to crush their KPI’s.
            .button-section
                a.button.orange(href='#') Read More About NativeAI Native Advertising
    
    // How to Get Started =====================================================================
    .adv--nineth-screen.grey-bg
        .wrapper
            .title
                h2 How to Get Started
            .subtitle
                p It's Easy and Fast!
            .how-to-section
                .how-to-item.first
                    .number 1
                    .title-box
                        h3.bold Get an Audience Match Demo
                    .text-box
                        p
                            | We recommend getting a quick audience match demo, 
                            br
                            | which will give you a much better understanding of how 
                            br
                            | the platform works, and what you should expect.
                .how-to-item.second
                    .number 2
                    .title-box
                        h3.bold
                            | Review Our Test
                            br
                            | Campaign Proposal
                    .text-box
                        p
                            | We provide a campaign proposal 
                            br
                            | based on your budget and goals.
                .how-to-item.third
                    .number 3
                    .title-box
                        h3.bold Activate the Test Campaign
                    .text-box
                        p
                            | Monitor engagement on your real-time dashboard, or wait for the 
                            br
                            | campaign to finish and view the result report. Then, repeat as desired.
            .button-box
                a.button.orange(href='#') Let's Do It!
    
    // Eight screen =====================================================================
    .publisher--eight-screen
        .wrapper
            .text-section
                .title-box
                    h3.bold Get an Audience Match Demo Now
                .text-box
                    p
                        | Get a quick demo on the power of the NativeAI platform. We'll show you five
                        br
                        | audience insights, and how they apply to your campaigns within 15 minutes.
                .button-box
                    a.button.blue(href='#') I Want a Demo
            .ill-section
                img(src='assets/images/illustrations/home-advertising.svg')