extends ../layout
block const
    -
        const title = 'NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'

block content
    include ../sections/_first
    include ../sections/_analytics
    //- include ../sections/_power
    include ../sections/_brands
    include ../sections/_start
    include ../sections/_interests
    //- include ../sections/_case_study
    include ../sections/_how

    //- .homepage--six-screen
        .wrapper
            .title
                h2 See How NativeAI Works for You
            .items-wrapper
                .item-box.card
                    .img-section.orange-line
                        .title-box
                            h3.bold Publishers
                        img(src='assets/images/illustrations/home-publishers.svg')
                    .content-section
                        .text-box
                            p
                                | Let us show you how easy it is to get deep intelligence on your audience, and how to use that intelligence to drive 20X engagement.
                        .button-box
                            a.button.orange(href='#') I Want a Demo
                .item-box.card
                    .img-section.blue-line
                        .title-box
                            h3.bold Native Advertising
                        img(src='assets/images/illustrations/home-advertising.svg')
                    .content-section
                        .text-box
                            p
                                | Get an Audience Match demonstration and e'll show you five insights inside of 15 minutes.
                        .button-box
                            a.button.blue(href='#') I Want a Demo

    include ../sections/_footer