extends ../layout
block const
    -
        const title = 'Register for Demo | NativeAI Publisher Analytics'
        const description = 'Want to try the NativeAI Content Analytics platform? Register for a demo account and we will be in touch with next steps. Get advanced analytics, engagement quality reports and more with NativeAI.'
    
block content
    section.register
        .wrapper
            .register_row
                .register_content
                    h2 Free trial offer
                    p.register_text
                        | Register today to get a free trial of the NativeAI editorial analytics platform, built for publishers.
                        br
                        | With built-in artificial intelligence, the NativeAI analytics platform tracks engagement quality, and gives publisher deep insight into their content and audience, with machine learning identifying and tracking more than one million distinct audience interests.
                    .register_img
                        img(src="/assets/images/illustrations/adv-c-04.svg", alt="")
                .register_form
                    .form
                        .form_steps
                            form.form_step(action="step1")
                                h3.form_header
                                    | Contact Details
                                .form_input
                                    input(type="text" placeholder="Your name" name="firstname" required)
                                .form_input
                                    input(type="text" placeholder="Email" name="email" pattern="^([\\w]+[\\.]{0,1})+@([\\w-]+\\.)+[\\w]{2,4}$" title="Please enter a valid email address" required)
                                .form_input
                                    input(type="tel" placeholder="Phone number" name="phone" minlength="7" maxlength="20" required)
                                button.button.orange.glow(type="submit")
                                    span
                                        | Next step
                                    i
                                        +icon('arrow', [20, 14], '#fff')
                            form.form_step(action="step2")
                                h3.form_header
                                    | About your Publication
                                .form_input
                                    input(type="url" placeholder="Website URL" name="website" required)
                                .form_input
                                    .select
                                        select(name="monthly_traffic_volume" required)
                                            option(disabled selected value="") Monthly Visitors
                                            option(value="Less Than 500,000") Less Than 500,000
                                            option(value="500k - 1 Million") 500k - 1 Million
                                            option(value="500k - 1 Million") 500k - 1 Million
                                            option(value="3 Million - 10 Million") 3 Million - 10 Million
                                            option(value="10 Million - 25 Million") 10 Million - 25 Million
                                            option(value="25 Million - 50 Million") 25 Million - 50 Million
                                            option(value="More Than 50 Million") More Than 50 Million
                                .form_input
                                    .select
                                        select(name="jobtitle" required)
                                            option(disabled selected value="") Your Role
                                            option(value="Editorial") Editorial
                                            option(value="Audience Development") Audience Development
                                            option(value="Marketing") Marketing
                                            option(value="Product") Product
                                            option(value="Writing") Writing
                                            
                                .form_input
                                    .checkbox
                                        input(type="checkbox" id="policy" checked required)
                                        label(for="policy")
                                            | I have read and accept the
                                            | 
                                            a(href="#") privacy policy
                                button.button.orange.glow.baseline(type="submit")
                                    span Submit
                                    i
                                        +icon('check', [16, 11], '#fff')
                        .form_message