extends ../layout
block const
    -
        const title = 'Lead Magnet - NativeAI - Publisher Analytics & Monetization Platform'
        const description = 'NativeAI is an advertising and analytics platform for news publishers on web and mobile. It uses advanced personalization algorithms to help content creators understand their audience and predict which content would do well, as well as use those insights to target native advertising and monetize their properties more effectively.'
        const keywords = 'native advertising, native content, native marketing, content advertising, publisher content, promo content'
block content
    // Content box
    .content-wrapper.thank-you
        .wrapper
            .page-title
                h1.small-title Thank you
            .subtitle-text
                p
                    | Thank you for requesting your copy of 2018’s Top Tools for Native Advertising and Publisher Analytics. 
                    br
                    | You can download your copy 
                    a(href='#') here
                    | .
            .two-cols-section
                .col.main-col
                    .section-title
                        h3 Ready for a Demo?
                    .text-section
                        p
                            | If you’re looking for a single platform that can deliver deep audience and content insights, as well as native advertising with up to 20X engagement compared to other platforms, you should schedule a quick demo of the NativeAI Platform.
                        p Complete the form and get your free NativeAI demonstration.
                    .contact-form-section
                        form.contact-form(action='')
                            input.promo-field(type='text', placeholder='Your Name')
                            input.promo-field(type='email', placeholder='Email')
                            input.button.orange.width-icon(type='submit', value='Get a Demo')
                .col.ill-col
                    img(src='assets/images/illustrations/pub-1.svg')