extends ../layout
block const
    -
        const title = 'Thank You For Requesting A Demo'
    
block content
    section.thank
        h1.thank_header
            | Thank you!
        p.thank_descr
            | We will get in touch with you shortly, to set up a demo