@import 'components/fonts';

// normalize
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .text-center-mobile {
    text-align: left;
  }
}
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*-----------------------------------------------------------------------------------*/
/*  Typography
/*-----------------------------------------------------------------------------------*/
p {
  font-size: 18px;
  line-height: 1.57em;
  -webkit-font-smoothing: antialiased;
}
p.lead {
  font-size: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px 0;
  padding: 0;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
  font-weight: 300;
}
a {
  color: #343a40;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #ea7300;
}
a.no-decoration {
  text-decoration: none;
}
a.no-decoration:hover {
  text-decoration: underline;
}
a.btn {
  text-decoration: none;
}
/*-----------------------------------------------------------------------------------*/
/*  Shared
/*-----------------------------------------------------------------------------------*/
.block {
  display: table;
}
.circle {
  border-radius: 100%;
}
.divider {
  display: block;
  border-bottom: 1px solid #dee2e6;
  padding: 0 0 13px 0;
  margin: 0 0 30px;
}
.line-top {
  border-top: 1px solid #dee2e6;
}
.line-bottom {
  border-bottom: 1px solid #dee2e6;
}
.text-center-mobile {
  text-align: center;
}
.max-responsive {
  max-width: 100%;
  height: auto !important;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
}
.animated {
  transition: all 0.3s ease-in-out;
  animation-timing-function: ease-in-out;
}
.animated-fast {
  transition: all 0.15s ease-in-out;
  animation-timing-function: ease-in-out;
}
/*-----------------------------------------------------------------------------------*/
/*  Buttons
/*-----------------------------------------------------------------------------------*/
.form-control {
  padding: 0 1em;
  border: 1px solid #dee2e6;
  line-height: 42px;
  height: 45px;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 0 15px 0;
  box-shadow: none;
}
.btn {
  min-width: 180px;
  text-decoration: none;
  height: 45px;
  line-height: 42px;
  font-weight: bold;
  padding: 0 1em;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, fill 0.3s;
}
.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}
.btn.btn-default {
  background-color: #4b64ef;
  border-color: #4b64ef;
  color: #fff;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  background-color: #546ff9;
  border-color: #546ff9;
  color: #fff;
  box-shadow: none;
}
.btn.btn-primary {
  background-color: #ea7300;
  border-color: #ea7300;
  color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
.btn.btn-secondary {
  background-color: #fff;
  border-color: #ea7300;
  color: #ea7300;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
/* All HubSpot Forms
   ========================================================================== */
/* Form Field (selector for form field wrapper) */
.hs-form .hs-form-field {
  margin: 3px 0;
}
.hs-form fieldset.form-columns-1 input.hs-input,
.hs-form fieldset.form-columns-1 select.hs-input,
.hs-form fieldset.form-columns-1 textarea.hs-input {
  width: 100%;
}
.hs-form fieldset.form-columns-1 .input {
  margin-right: 0;
}
/* Descriptions (targets class applied to Help Text divs) */
/* Labels (selects field labels and error messages) */
.hs-form label {
  font-size: 1.2em;
  font-weight: normal;
}
.section-light .hs-form label {
  color: #555555;
}
/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"],
.hs-form input[type="datetime"],
.hs-form input[type="datetime-local"],
.hs-form input[type="date"],
.hs-form input[type="month"],
.hs-form input[type="time"],
.hs-form input[type="week"],
.hs-form input[type="number"],
.hs-form input[type="email"],
.hs-form input[type="url"],
.hs-form input[type="search"],
.hs-form input[type="tel"],
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
  display: block;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 0 1em;
  border: 1px solid #dee2e6;
  line-height: 42px;
  height: 45px;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 0 15px 0;
  box-shadow: none;
  background: #fff;
  width: 100%;
}
.hs-form input[type="text"]:focus,
.hs-form input[type="password"]:focus,
.hs-form input[type="datetime"]:focus,
.hs-form input[type="datetime-local"]:focus,
.hs-form input[type="date"]:focus,
.hs-form input[type="month"]:focus,
.hs-form input[type="time"]:focus,
.hs-form input[type="week"]:focus,
.hs-form input[type="number"]:focus,
.hs-form input[type="email"]:focus,
.hs-form input[type="url"]:focus,
.hs-form input[type="search"]:focus,
.hs-form input[type="tel"]:focus,
.hs-form input[type="color"]:focus,
.hs-form input[type="file"]:focus,
.hs-form textarea:focus,
.hs-form select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.hs-form input[type="text"]::-moz-placeholder,
.hs-form input[type="password"]::-moz-placeholder,
.hs-form input[type="datetime"]::-moz-placeholder,
.hs-form input[type="datetime-local"]::-moz-placeholder,
.hs-form input[type="date"]::-moz-placeholder,
.hs-form input[type="month"]::-moz-placeholder,
.hs-form input[type="time"]::-moz-placeholder,
.hs-form input[type="week"]::-moz-placeholder,
.hs-form input[type="number"]::-moz-placeholder,
.hs-form input[type="email"]::-moz-placeholder,
.hs-form input[type="url"]::-moz-placeholder,
.hs-form input[type="search"]::-moz-placeholder,
.hs-form input[type="tel"]::-moz-placeholder,
.hs-form input[type="color"]::-moz-placeholder,
.hs-form input[type="file"]::-moz-placeholder,
.hs-form textarea::-moz-placeholder,
.hs-form select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.hs-form input[type="text"]:-ms-input-placeholder,
.hs-form input[type="password"]:-ms-input-placeholder,
.hs-form input[type="datetime"]:-ms-input-placeholder,
.hs-form input[type="datetime-local"]:-ms-input-placeholder,
.hs-form input[type="date"]:-ms-input-placeholder,
.hs-form input[type="month"]:-ms-input-placeholder,
.hs-form input[type="time"]:-ms-input-placeholder,
.hs-form input[type="week"]:-ms-input-placeholder,
.hs-form input[type="number"]:-ms-input-placeholder,
.hs-form input[type="email"]:-ms-input-placeholder,
.hs-form input[type="url"]:-ms-input-placeholder,
.hs-form input[type="search"]:-ms-input-placeholder,
.hs-form input[type="tel"]:-ms-input-placeholder,
.hs-form input[type="color"]:-ms-input-placeholder,
.hs-form input[type="file"]:-ms-input-placeholder,
.hs-form textarea:-ms-input-placeholder,
.hs-form select:-ms-input-placeholder {
  color: #999;
}
.hs-form input[type="text"]::-webkit-input-placeholder,
.hs-form input[type="password"]::-webkit-input-placeholder,
.hs-form input[type="datetime"]::-webkit-input-placeholder,
.hs-form input[type="datetime-local"]::-webkit-input-placeholder,
.hs-form input[type="date"]::-webkit-input-placeholder,
.hs-form input[type="month"]::-webkit-input-placeholder,
.hs-form input[type="time"]::-webkit-input-placeholder,
.hs-form input[type="week"]::-webkit-input-placeholder,
.hs-form input[type="number"]::-webkit-input-placeholder,
.hs-form input[type="email"]::-webkit-input-placeholder,
.hs-form input[type="url"]::-webkit-input-placeholder,
.hs-form input[type="search"]::-webkit-input-placeholder,
.hs-form input[type="tel"]::-webkit-input-placeholder,
.hs-form input[type="color"]::-webkit-input-placeholder,
.hs-form input[type="file"]::-webkit-input-placeholder,
.hs-form textarea::-webkit-input-placeholder,
.hs-form select::-webkit-input-placeholder {
  color: #999;
}
.hs-form input[type="text"]::-ms-expand,
.hs-form input[type="password"]::-ms-expand,
.hs-form input[type="datetime"]::-ms-expand,
.hs-form input[type="datetime-local"]::-ms-expand,
.hs-form input[type="date"]::-ms-expand,
.hs-form input[type="month"]::-ms-expand,
.hs-form input[type="time"]::-ms-expand,
.hs-form input[type="week"]::-ms-expand,
.hs-form input[type="number"]::-ms-expand,
.hs-form input[type="email"]::-ms-expand,
.hs-form input[type="url"]::-ms-expand,
.hs-form input[type="search"]::-ms-expand,
.hs-form input[type="tel"]::-ms-expand,
.hs-form input[type="color"]::-ms-expand,
.hs-form input[type="file"]::-ms-expand,
.hs-form textarea::-ms-expand,
.hs-form select::-ms-expand {
  border: 0;
  background-color: transparent;
}
.hs-form input[type="text"][disabled],
.hs-form input[type="password"][disabled],
.hs-form input[type="datetime"][disabled],
.hs-form input[type="datetime-local"][disabled],
.hs-form input[type="date"][disabled],
.hs-form input[type="month"][disabled],
.hs-form input[type="time"][disabled],
.hs-form input[type="week"][disabled],
.hs-form input[type="number"][disabled],
.hs-form input[type="email"][disabled],
.hs-form input[type="url"][disabled],
.hs-form input[type="search"][disabled],
.hs-form input[type="tel"][disabled],
.hs-form input[type="color"][disabled],
.hs-form input[type="file"][disabled],
.hs-form textarea[disabled],
.hs-form select[disabled],
.hs-form input[type="text"][readonly],
.hs-form input[type="password"][readonly],
.hs-form input[type="datetime"][readonly],
.hs-form input[type="datetime-local"][readonly],
.hs-form input[type="date"][readonly],
.hs-form input[type="month"][readonly],
.hs-form input[type="time"][readonly],
.hs-form input[type="week"][readonly],
.hs-form input[type="number"][readonly],
.hs-form input[type="email"][readonly],
.hs-form input[type="url"][readonly],
.hs-form input[type="search"][readonly],
.hs-form input[type="tel"][readonly],
.hs-form input[type="color"][readonly],
.hs-form input[type="file"][readonly],
.hs-form textarea[readonly],
.hs-form select[readonly],
fieldset[disabled] .hs-form input[type="text"],
fieldset[disabled] .hs-form input[type="password"],
fieldset[disabled] .hs-form input[type="datetime"],
fieldset[disabled] .hs-form input[type="datetime-local"],
fieldset[disabled] .hs-form input[type="date"],
fieldset[disabled] .hs-form input[type="month"],
fieldset[disabled] .hs-form input[type="time"],
fieldset[disabled] .hs-form input[type="week"],
fieldset[disabled] .hs-form input[type="number"],
fieldset[disabled] .hs-form input[type="email"],
fieldset[disabled] .hs-form input[type="url"],
fieldset[disabled] .hs-form input[type="search"],
fieldset[disabled] .hs-form input[type="tel"],
fieldset[disabled] .hs-form input[type="color"],
fieldset[disabled] .hs-form input[type="file"],
fieldset[disabled] .hs-form textarea,
fieldset[disabled] .hs-form select {
  background-color: #eeeeee;
  opacity: 1;
}
.hs-form input[type="text"][disabled],
.hs-form input[type="password"][disabled],
.hs-form input[type="datetime"][disabled],
.hs-form input[type="datetime-local"][disabled],
.hs-form input[type="date"][disabled],
.hs-form input[type="month"][disabled],
.hs-form input[type="time"][disabled],
.hs-form input[type="week"][disabled],
.hs-form input[type="number"][disabled],
.hs-form input[type="email"][disabled],
.hs-form input[type="url"][disabled],
.hs-form input[type="search"][disabled],
.hs-form input[type="tel"][disabled],
.hs-form input[type="color"][disabled],
.hs-form input[type="file"][disabled],
.hs-form textarea[disabled],
.hs-form select[disabled],
fieldset[disabled] .hs-form input[type="text"],
fieldset[disabled] .hs-form input[type="password"],
fieldset[disabled] .hs-form input[type="datetime"],
fieldset[disabled] .hs-form input[type="datetime-local"],
fieldset[disabled] .hs-form input[type="date"],
fieldset[disabled] .hs-form input[type="month"],
fieldset[disabled] .hs-form input[type="time"],
fieldset[disabled] .hs-form input[type="week"],
fieldset[disabled] .hs-form input[type="number"],
fieldset[disabled] .hs-form input[type="email"],
fieldset[disabled] .hs-form input[type="url"],
fieldset[disabled] .hs-form input[type="search"],
fieldset[disabled] .hs-form input[type="tel"],
fieldset[disabled] .hs-form input[type="color"],
fieldset[disabled] .hs-form input[type="file"],
fieldset[disabled] .hs-form textarea,
fieldset[disabled] .hs-form select {
  cursor: not-allowed;
}
textarea.hs-form input[type="text"],
textarea.hs-form input[type="password"],
textarea.hs-form input[type="datetime"],
textarea.hs-form input[type="datetime-local"],
textarea.hs-form input[type="date"],
textarea.hs-form input[type="month"],
textarea.hs-form input[type="time"],
textarea.hs-form input[type="week"],
textarea.hs-form input[type="number"],
textarea.hs-form input[type="email"],
textarea.hs-form input[type="url"],
textarea.hs-form input[type="search"],
textarea.hs-form input[type="tel"],
textarea.hs-form input[type="color"],
textarea.hs-form input[type="file"],
textarea.hs-form textarea,
textarea.hs-form select {
  height: auto;
}
/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type="text"]:focus,
.hs-form input[type="password"]:focus,
.hs-form input[type="datetime"]:focus,
.hs-form input[type="datetime-local"]:focus,
.hs-form input[type="date"]:focus,
.hs-form input[type="month"]:focus,
.hs-form input[type="time"]:focus,
.hs-form input[type="week"]:focus,
.hs-form input[type="number"]:focus,
.hs-form input[type="email"]:focus,
.hs-form input[type="url"]:focus,
.hs-form input[type="search"]:focus,
.hs-form input[type="tel"]:focus,
.hs-form input[type="color"]:focus,
.hs-form input[type="file"]:focus,
.hs-form textarea:focus,
.hs-form select:focus {
  background: #fff;
  color: #555555;
  outline: none;
  box-shadow: none;
  border-color: #ea7300;
}
/* Multi-line inputs (selectors to target multi-line fields */
/* Dropdowns (selectors for dropdowns) */
.hs-form select {
  height: 50px;
}
/* Multi-select (selectors for multi-select fields) */
.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hs-form .hs-form-field ul.inputs-list li input {
  margin-right: 10px;
  height: auto;
  margin-top: 6px;
}
/* Required (selectors for fields, when they do not pass validation) */
.hs-form input:focus:required:invalid,
.hs-form textarea:focus:required:invalid,
.hs-form select:focus:required:invalid {
  border-color: #D0011B;
}
.hs-form input:focus:required:invalid:focus,
.hs-form textarea:focus:required:invalid:focus,
.hs-form select:focus:required:invalid:focus {
  border-color: #D0011B;
}
/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label {
  color: #D0011B;
}
/* Placeholder Text (styles the placeholder attribute text) */
::-webkit-input-placeholder {
  /* Webkit Browsers */
}
:-moz-placeholder {
  /* Firefox 18- */
}
::-moz-placeholder {
  /* Firefox 19+ */
}
:-ms-input-placeholder {
  /* IE10 */
}
/* Multi Column Form (selectors for fieldsets and field wrappers)
   ========================================================================== */
.hs-form fieldset {
  max-width: inherit !important;
}
.hs-form li.hs-form-checkbox,
.hs-form li.hs-form-radio {
  padding: 0.5em;
  margin-bottom: 0;
}
.hs-form li.hs-form-checkbox span,
.hs-form li.hs-form-radio span {
  font-size: 1em;
  font-weight: normal;
  margin-top: 4px;
  display: block;
}
.hs-form li.hs-form-checkbox input,
.hs-form li.hs-form-radio input {
  float: left;
}
.hs-form li.hs-form-checkbox label,
.hs-form li.hs-form-radio label {
  width: 100%;
}
/* Submit buttons (selectors for all non-CTA buttons)
   ========================================================================== */
body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 180px;
  text-decoration: none;
  height: 45px;
  line-height: 42px;
  font-weight: bold;
  padding: 0 1em;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, fill 0.3s;
  background-color: #ea7300;
  border-color: #ea7300;
  color: #fff;
  margin: 0 auto;
  display: block;
}
body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus,
body .hs-button.primary:active:focus,
body input[type="submit"]:active:focus,
body input[type="button"]:active:focus,
body .hs-button.primary.active:focus,
body input[type="submit"].active:focus,
body input[type="button"].active:focus,
body .hs-button.primary.focus,
body input[type="submit"].focus,
body input[type="button"].focus,
body .hs-button.primary:active.focus,
body input[type="submit"]:active.focus,
body input[type="button"]:active.focus,
body .hs-button.primary.active.focus,
body input[type="submit"].active.focus,
body input[type="button"].active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover,
body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus,
body .hs-button.primary.focus,
body input[type="submit"].focus,
body input[type="button"].focus {
  color: #333;
  text-decoration: none;
}
body .hs-button.primary:active,
body input[type="submit"]:active,
body input[type="button"]:active,
body .hs-button.primary.active,
body input[type="submit"].active,
body input[type="button"].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
body .hs-button.primary.disabled,
body input[type="submit"].disabled,
body input[type="button"].disabled,
body .hs-button.primary[disabled],
body input[type="submit"][disabled],
body input[type="button"][disabled],
fieldset[disabled] body .hs-button.primary,
fieldset[disabled] body input[type="submit"],
fieldset[disabled] body input[type="button"] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
abody .hs-button.primary.disabled,
abody input[type="submit"].disabled,
abody input[type="button"].disabled,
fieldset[disabled] abody .hs-button.primary,
fieldset[disabled] abody input[type="submit"],
fieldset[disabled] abody input[type="button"] {
  pointer-events: none;
}
body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover,
body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus,
body .hs-button.primary:active,
body input[type="submit"]:active,
body input[type="button"]:active {
  box-shadow: none;
}
body .hs-button.primary.btn-default,
body input[type="submit"].btn-default,
body input[type="button"].btn-default {
  background-color: #4b64ef;
  border-color: #4b64ef;
  color: #fff;
}
body .hs-button.primary.btn-default:hover,
body input[type="submit"].btn-default:hover,
body input[type="button"].btn-default:hover,
body .hs-button.primary.btn-default:focus,
body input[type="submit"].btn-default:focus,
body input[type="button"].btn-default:focus,
body .hs-button.primary.btn-default:active,
body input[type="submit"].btn-default:active,
body input[type="button"].btn-default:active {
  background-color: #546ff9;
  border-color: #546ff9;
  color: #fff;
  box-shadow: none;
}
body .hs-button.primary.btn-primary,
body input[type="submit"].btn-primary,
body input[type="button"].btn-primary {
  background-color: #ea7300;
  border-color: #ea7300;
  color: #fff;
}
body .hs-button.primary.btn-primary:hover,
body input[type="submit"].btn-primary:hover,
body input[type="button"].btn-primary:hover,
body .hs-button.primary.btn-primary:focus,
body input[type="submit"].btn-primary:focus,
body input[type="button"].btn-primary:focus,
body .hs-button.primary.btn-primary:active,
body input[type="submit"].btn-primary:active,
body input[type="button"].btn-primary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
body .hs-button.primary.btn-secondary,
body input[type="submit"].btn-secondary,
body input[type="button"].btn-secondary {
  background-color: #fff;
  border-color: #ea7300;
  color: #ea7300;
}
body .hs-button.primary.btn-secondary:hover,
body input[type="submit"].btn-secondary:hover,
body input[type="button"].btn-secondary:hover,
body .hs-button.primary.btn-secondary:focus,
body input[type="submit"].btn-secondary:focus,
body input[type="button"].btn-secondary:focus,
body .hs-button.primary.btn-secondary:active,
body input[type="submit"].btn-secondary:active,
body input[type="button"].btn-secondary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover,
body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus,
body .hs-button.primary:active,
body input[type="submit"]:active,
body input[type="button"]:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
// .select-hidden {
//   display: none;
//   visibility: hidden;
//   padding-right: 10px;
// }
// .select {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   font-size: 16px;
//   color: #313543;
//   width: 100%;
//   height: 40px;
// }
// .select-styled {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: #fff;
//   padding: 8px 15px;
//   border: 1px solid rgba(0, 0, 0, 0.3);
// }
// .select-styled:after {
//   content: "";
//   width: 0;
//   height: 0;
//   border: 7px solid transparent;
//   border-color: #D13B4C transparent transparent transparent;
//   position: absolute;
//   top: 16px;
//   right: 10px;
// }
// .select-styled:hover {
//   background-color: #fff;
// }
// .select-styled:active,
// .select-styled.active {
//   background-color: #fff;
// }
// .select-styled:active:after,
// .select-styled.active:after {
//   top: 9px;
//   border-color: transparent transparent #313543 transparent;
// }
// .select-options {
//   display: none;
//   position: absolute;
//   top: 100%;
//   right: 0;
//   left: 0;
//   z-index: 999;
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   background-color: #fff;
//   border: 1px solid rgba(0, 0, 0, 0.3);
//   border-top: none;
// }
// .select-options li {
//   margin: 0;
//   padding: 12px 0;
//   text-indent: 15px;
//   border-top: 1px solid #fff;
// }
// .select-options li:hover {
//   color: #fff;
//   background: #313543;
// }
// .select-options li[rel="hide"] {
//   display: none;
// }
/*-----------------------------------------------------------------------------------*/
/*  Page Specific Styles — Blog
/*-----------------------------------------------------------------------------------*/
.blog .blog-main {
  margin-top: 50px;
}
.blog .entry-meta {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 20px;
}
.blog .entry-meta ul {
  padding: 0;
}
.blog article {
  padding-bottom: 80px;
}
.blog article .pull-left {
  margin-right: 20px;
  margin-bottom: 20px;
}
.blog article .pull-right {
  margin-left: 20px;
  margin-bottom: 20px;
}
.blog .entry-date,
.blog .entry-comments {
  display: inline-block;
  margin-right: 20px;
}
.blog .entry-author {
  background: #f3f3f3;
  padding: 30px;
  margin-top: 30px;
}
.blog .entry-author-image {
  float: left;
  margin: 0 20px 20px 0;
}
.blog .widget {
  margin-bottom: 40px;
}
.blog .widget-category ul {
  padding: 0;
  list-style: none;
}
.blog .widget-category ul li {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0;
}
.blog .author-bio {
  text-align: center;
  margin: 30px 0;
}
.blog .masthead-meta {
  width: 100%;
  text-align: center;
  position: absolute;
  height: 100px;
  bottom: 10px;
}
.blog .masthead-meta span.posted,
.blog .masthead-meta span.author,
.blog .masthead-meta span.date {
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}
/*-----------------------------------------------------------------------------------*/
/*  Page: HubSpot Comments
/*-----------------------------------------------------------------------------------*/
#comments {
  margin-bottom: 50px;
}
#comments .comment-from {
  margin-top: 30px;
}
#comments p,
#comments .comment-date {
  line-height: 24px !important;
  font-size: 14px;
}
#comments .comment {
  border-top: 1px solid #e2e2e2 !important;
  padding-bottom: 50px !important;
}
#comments input[type="submit"],
#comments button.comment-reply-to.hs-button.secondary {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 180px;
  text-decoration: none;
  height: 45px;
  line-height: 42px;
  font-weight: bold;
  padding: 0 1em;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, fill 0.3s;
  background-color: #ea7300;
  border-color: #ea7300;
  color: #fff;
  display: inline-block;
}
#comments input[type="submit"]:focus,
#comments button.comment-reply-to.hs-button.secondary:focus,
#comments input[type="submit"]:active:focus,
#comments button.comment-reply-to.hs-button.secondary:active:focus,
#comments input[type="submit"].active:focus,
#comments button.comment-reply-to.hs-button.secondary.active:focus,
#comments input[type="submit"].focus,
#comments button.comment-reply-to.hs-button.secondary.focus,
#comments input[type="submit"]:active.focus,
#comments button.comment-reply-to.hs-button.secondary:active.focus,
#comments input[type="submit"].active.focus,
#comments button.comment-reply-to.hs-button.secondary.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#comments input[type="submit"]:hover,
#comments button.comment-reply-to.hs-button.secondary:hover,
#comments input[type="submit"]:focus,
#comments button.comment-reply-to.hs-button.secondary:focus,
#comments input[type="submit"].focus,
#comments button.comment-reply-to.hs-button.secondary.focus {
  color: #333;
  text-decoration: none;
}
#comments input[type="submit"]:active,
#comments button.comment-reply-to.hs-button.secondary:active,
#comments input[type="submit"].active,
#comments button.comment-reply-to.hs-button.secondary.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#comments input[type="submit"].disabled,
#comments button.comment-reply-to.hs-button.secondary.disabled,
#comments input[type="submit"][disabled],
#comments button.comment-reply-to.hs-button.secondary[disabled],
fieldset[disabled] #comments input[type="submit"],
fieldset[disabled] #comments button.comment-reply-to.hs-button.secondary {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a#comments input[type="submit"].disabled,
a#comments button.comment-reply-to.hs-button.secondary.disabled,
fieldset[disabled] a#comments input[type="submit"],
fieldset[disabled] a#comments button.comment-reply-to.hs-button.secondary {
  pointer-events: none;
}
#comments input[type="submit"]:hover,
#comments button.comment-reply-to.hs-button.secondary:hover,
#comments input[type="submit"]:focus,
#comments button.comment-reply-to.hs-button.secondary:focus,
#comments input[type="submit"]:active,
#comments button.comment-reply-to.hs-button.secondary:active {
  box-shadow: none;
}
#comments input[type="submit"].btn-default,
#comments button.comment-reply-to.hs-button.secondary.btn-default {
  background-color: #4b64ef;
  border-color: #4b64ef;
  color: #fff;
}
#comments input[type="submit"].btn-default:hover,
#comments button.comment-reply-to.hs-button.secondary.btn-default:hover,
#comments input[type="submit"].btn-default:focus,
#comments button.comment-reply-to.hs-button.secondary.btn-default:focus,
#comments input[type="submit"].btn-default:active,
#comments button.comment-reply-to.hs-button.secondary.btn-default:active {
  background-color: #546ff9;
  border-color: #546ff9;
  color: #fff;
  box-shadow: none;
}
#comments input[type="submit"].btn-primary,
#comments button.comment-reply-to.hs-button.secondary.btn-primary {
  background-color: #ea7300;
  border-color: #ea7300;
  color: #fff;
}
#comments input[type="submit"].btn-primary:hover,
#comments button.comment-reply-to.hs-button.secondary.btn-primary:hover,
#comments input[type="submit"].btn-primary:focus,
#comments button.comment-reply-to.hs-button.secondary.btn-primary:focus,
#comments input[type="submit"].btn-primary:active,
#comments button.comment-reply-to.hs-button.secondary.btn-primary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
#comments input[type="submit"].btn-secondary,
#comments button.comment-reply-to.hs-button.secondary.btn-secondary {
  background-color: #fff;
  border-color: #ea7300;
  color: #ea7300;
}
#comments input[type="submit"].btn-secondary:hover,
#comments button.comment-reply-to.hs-button.secondary.btn-secondary:hover,
#comments input[type="submit"].btn-secondary:focus,
#comments button.comment-reply-to.hs-button.secondary.btn-secondary:focus,
#comments input[type="submit"].btn-secondary:active,
#comments button.comment-reply-to.hs-button.secondary.btn-secondary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
#comments input[type="submit"]:hover,
#comments button.comment-reply-to.hs-button.secondary:hover,
#comments input[type="submit"]:focus,
#comments button.comment-reply-to.hs-button.secondary:focus,
#comments input[type="submit"]:active,
#comments button.comment-reply-to.hs-button.secondary:active {
  background-color: #f68117;
  border-color: #f68117;
  color: #fff;
  box-shadow: none;
}
#comment-form input,
#comment-form textarea {
  border: 1px solid #d0d6d9;
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
}
#comment-form input[type="radio"],
#comment-form input[type="checkbox"] {
  width: inherit;
  margin-right: 15px;
}
#comment-form ul {
  list-style: none;
  padding: 0;
}
#comment-form label {
  font-weight: 400;
}
/*-----------------------------------------------------------------------------------*/
/*  Media Queries
/*-----------------------------------------------------------------------------------*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.sr-nav {
  border-bottom: 1px solid #dee2e6;
  height: 70px;
}
.sr-nav .sr-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}
.sr-nav .sr-brand a {
  display: block;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url('//cdn2.hubspot.net/hubfs/3048376/NativeAI%20Logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 125px;
  height: 40px;
}
.sr-nav ul a {
  line-height: 70px;
}
.sr-nav ul a.btn-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
.nativeai-landing-navbar {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px #dee2e6;
}
.nativeai-landing-navbar img {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: auto;
}
.sr-masthead-wrapper.bkg-cover {
  background-color: #000;
}
.sr-masthead-wrapper.bkg-cover .sr-masthead-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sr-masthead-wrapper.bkg-custom {
  background-color: #F8F9FA;
  color: #343a40;
  padding-bottom: 250px;
}
.sr-masthead-wrapper.bkg-custom .sr-masthead-image {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
}
.sr-masthead-wrapper.bkg-custom h1,
.sr-masthead-wrapper.bkg-custom h2,
.sr-masthead-wrapper.bkg-custom h3,
.sr-masthead-wrapper.bkg-custom h4,
.sr-masthead-wrapper.bkg-custom h5,
.sr-masthead-wrapper.bkg-custom h6,
.sr-masthead-wrapper.bkg-custom p,
.sr-masthead-wrapper.bkg-custom ul {
  color: #343a40;
}
.flex-accordion .section-header {
  text-align: center;
}
.flex-accordion .panel-group {
  max-width: 620px;
  margin: 0 auto;
}
.flex-accordion .panel-default {
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
.flex-accordion .panel-heading {
  background-color: transparent;
  border: none;
  padding: 0;
}
.flex-accordion .panel-heading a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.625;
  padding: 24px 40px 25px 0;
  border-top: 1px solid #ccc;
  display: block;
  position: relative;
}
.flex-accordion .panel-heading a::after {
  content: '\2212';
  display: block;
  width: 24px;
  height: 24px;
  line-height: 16px;
  font-size: 1.5em;
  text-align: center;
  border: solid 2px #343a40;
  border-radius: 50%;
  position: absolute;
  left: auto;
  top: 24px;
  right: 10px;
  font-weight: normal;
}
.flex-accordion .panel-heading a.collapsed::after {
  content: '\002B';
}
.flex-accordion .panel-heading a:not(.collapsed) {
  color: #4b64ef;
}
.flex-accordion .panel-heading a:not(.collapsed)::after {
  border-color: #4b64ef;
}
.flex-accordion .panel-body {
  padding-left: 0;
  padding-right: 0;
}
.flex-accordion .panel-group .panel-heading + .panel-collapse > .panel-body,
.flex-accordion .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}
.two-col {
  padding: 30px 0;
}
.two-col.highlight-primary .section-title,
.two-col.highlight-secondary .section-title {
  position: relative;
  padding-bottom: 30px;
}
.two-col.highlight-primary .section-title::after,
.two-col.highlight-secondary .section-title::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  overflow: hidden;
  background-color: #ea7300;
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
}
.two-col.highlight-secondary .section-title::after {
  background-color: #4b64ef;
}
.two-col img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.two-col .section-content {
  margin-bottom: 30px;
}
.two-col-form .form {
  padding: 50px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.two-col-form.highlight-primary .inner-wrapper h2,
.two-col-form.highlight-secondary .inner-wrapper h2,
.two-col-form.highlight-primary .inner-wrapper h3,
.two-col-form.highlight-secondary .inner-wrapper h3 {
  position: relative;
  padding-bottom: 30px;
}
.two-col-form.highlight-primary .inner-wrapper h2::after,
.two-col-form.highlight-secondary .inner-wrapper h2::after,
.two-col-form.highlight-primary .inner-wrapper h3::after,
.two-col-form.highlight-secondary .inner-wrapper h3::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  overflow: hidden;
  background-color: #ea7300;
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
}
.two-col-form.highlight-secondary .inner-wrapper h2::after,
.two-col-form.highlight-secondary .inner-wrapper h3::after {
  background-color: #4b64ef;
}
.three-col-media .section-description {
  margin-bottom: 30px;
}
.three-col-media img {
  display: block;
  max-width: 100%;
  margin: 0 auto 30px;
}
.three-col-media .media-description {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .three-col-media img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 30px;
  }
  .three-col-media .media-description {
    text-align: center;
  }
}
.nativeai-offer-download.highlight-primary .section-title,
.nativeai-offer-download.highlight-secondary .section-title {
  position: relative;
  padding-bottom: 30px;
}
.nativeai-offer-download.highlight-primary .section-title::after,
.nativeai-offer-download.highlight-secondary .section-title::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  overflow: hidden;
  background-color: #ea7300;
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
}
.nativeai-offer-download.highlight-secondary .section-title::after {
  background-color: #4b64ef;
}
.nativeai-offer-download .section-title + p.large {
  margin-bottom: 30px;
}
.nativeai-offer-download .offer-content {
  margin-bottom: 20px;
}
.nativeai-offer-download img {
  display: block;
  max-width: 100%;
}
@media (max-width: 767px) {
  .nativeai-offer-download img {
    margin: 0 auto 30px;
  }
}
.nativeai-client-display {
  padding: 80px 0;
}
.nativeai-client-display .section-title {
  text-align: center;
}
.nativeai-client-display .section-items {
  list-style-type: none;
  margin: 0 0 80px;
  padding: 0;
  text-align: center;
}
.nativeai-client-display .section-items > li {
  display: inline-block;
  margin: 0 20px 20px;
}
.nativeai-client-display .section-items > li img {
  width: 150px;
  display: block;
}
.sr-testimonials .section-header h2 {
  text-align: center;
}
.sr-testimonials .sr-testimonials-pane {
  background-color: transparent;
}
.sr-testimonials .sr-testimonials-pane .sr-testimonials-content {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}
.sr-testimonials .sr-testimonials-pane .sr-testimonials-info {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.two-col-call-cta .cta-col-inner {
  text-align: center;
}
.two-col-call-cta img {
  display: block;
  max-width: 100%;
}
.nativeai-landing-footer {
  background-color: #F8F9FA;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
}
.nativeai-footer-links {
  padding: 40px 0;
  border-top: solid 1px #dee2e6;
}
.nativeai-footer-links a {
  color: #343a40;
  text-decoration: none;
}
.nativeai-footer-links a:hover,
.nativeai-footer-links a:focus,
.nativeai-footer-links a:active {
  color: #343a40;
  text-decoration: underline;
}
.nativeai-footer-links .footer-logo {
  margin-bottom: 30px;
}
.nativeai-footer-links .footer-logo img {
  width: 125px;
}
.nativeai-footer-links .hs-menu-wrapper > ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
}
.nativeai-footer-links .hs-menu-wrapper > ul > li {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: 30px;
}
.nativeai-footer-links .hs-menu-wrapper > ul > li > a {
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}
.nativeai-footer-links .hs-menu-wrapper > ul > li ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0;
}
.nativeai-footer-links .hs-menu-wrapper > ul > li ul li {
  margin: 0;
  padding: 10px 0;
}
.nativeai-footer-links .hs-menu-wrapper > ul > li ul li a {
  font-weight: 300;
}
@media (max-width: 767px) {
  .nativeai-footer-links .hs-menu-wrapper > ul {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .nativeai-footer-links .hs-menu-wrapper > ul > li {
    margin-left: 0;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .nativeai-footer-links .hs-menu-wrapper > ul > li {
    display: block;
    margin: 0 0 30px;
  }
}
.nativeai-copyright-bar {
  padding: 26px 0 22px;
  border-top: solid 1px #dee2e6;
  font-size: 16px;
  line-height: 20px;
}
.nativeai-copyright-bar .copy-policy-terms {
  text-align: left;
}
@media (max-width: 767px) {
  .nativeai-copyright-bar .copy-policy-terms {
    text-align: center;
  }
}
.nativeai-copyright-bar span {
  display: inline-block;
  margin-right: 50px;
}
.nativeai-copyright-bar a {
  color: #343a40;
  text-decoration: none;
}
.nativeai-copyright-bar a:hover,
.nativeai-copyright-bar a:focus,
.nativeai-copyright-bar a:active {
  color: #343a40;
  text-decoration: underline;
}
.nativeai-copyright-bar .nativeai-social-media-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
@media (max-width: 767px) {
  .nativeai-copyright-bar .nativeai-social-media-links {
    display: none;
  }
}
.nativeai-copyright-bar .nativeai-social-media-links li {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
}
.nativeai-copyright-bar .nativeai-social-media-links li a {
  font-size: 20px;
  line-height: 20px;
  color: #4A5057;
}
