/* Header
============================================================================= */

.mobile{
    &-box--nav-box .navigation-button-header-mobile {
        transition: border-color 0.2s;
        height: 40px;
        margin-top: 15px;
    }
    &-menu-subitems {
        color: #343A40;
        ul {
            display: block;
        }
        li{
            &:hover {
                border: none;
            }
            a {
                margin-top: -10px;
                font-size: 14px;
                line-height: 28px;
                height: 40px;
                padding-left: 75px;
                &:hover {
                    transition: color 0.2s;
                    color: #ff832a;
                    border: none;
                }
            }
        }
    }
}


.navigation-button-header {
    transition: border-color 0.2s;
    border-bottom: 3px solid transparent;
    height: 70px;
    padding: 25px 10px 0;
    margin: 0 7px;
}

.header-dropdown{
    &-div {
        position: absolute;
        background-color: #FFFFFF;
        box-shadow: 0 5px 20px 0 #F4DBC9;
        color: #343A40;
        padding: 8px 20px 8px 16px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        display: none;
        ul {
            display: block;
            li{
                &:hover {
                    border-bottom: none;
                }
                a {
                    font-size: 14px;
                    line-height: 28px;
                    height: 28px;
                    &:hover {
                        transition: color 0.2s;
                        color: #ff832a;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.email-submit-message {
    line-height: 30px;
}


/* Screen 01
  ======================================================================== */

.homepage--first-screen {
    overflow: hidden;
    padding: 100px 40px;
    .wrapper {
        display: flex;
        &>div {
            flex: 1;
        }
    }
    .ill-section {
        padding-top: 20px;
    }
    .main-title {
        padding-bottom: 32px;
    }
    .descr {
        padding-bottom: 44px;
    }
    .contact-form {
        padding-bottom: 13px;
        form {
            display: flex;
        }
    }
}

/* Screen 01 < 1140
  ======================================================================== */

@media screen and ( max-width: 1140px) {
    .homepage--first-screen {
        padding: 100px 40px;
        .wrapper {
            position: relative;
            display: block;
        }
        .ill-section {
            position: absolute;
            top: -55px;
            left: 50%;
            z-index: 10;
            opacity: .16;
            img {
                width: 373px;
            }
        }
        .text-section {
            position: relative;
            z-index: 20;
            br {
                display: none;
            }
        }
    }
}

/* Screen 01 < 640
  ======================================================================== */

@media screen and ( max-width: 640px) {
    .homepage--first-screen {
        .main-title {
            padding-bottom: 12px;
        }
        .descr {
            padding-bottom: 47px;
        }
        .contact-form {
            padding-bottom: 14px;
        }
    }
}

/* Screen 01 < 480
  ======================================================================== */

@media screen and ( max-width: 480px) {
    .homepage--first-screen {
        padding: 77px 16px;
        .text-section {
            br {
                display: block;
            }
        }
    }
    .contact-form {
        padding-bottom: 13px;
        form {
            flex-direction: column;
            .promo-field {
                margin: 0 0 16px;
                width: 100%;
            }
        }
    }
}

/* Screen 02 - How work
  ======================================================================== */

.homepage--second-screen {
    overflow: hidden;
    padding-bottom: 76px;
    .wrapper {
        position: relative;
    }
    /* Screen 02 - How work - Text section
  ======================================================================== */
    .text-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 570px;
        .title-box,
        .text-box p,
        .paragraph {
            padding-bottom: 30px;
        }
    }
    /* Screen 02 - How work - How work section
  ======================================================================== */
    .how-work-section {
        height: 848px;
        .bg {
            position: absolute;
            top: 90px;
            right: 197px;
            width: 552px;
            height: 581px;
            background: url(https://cdn2.hubspot.net/hubfs/3048376/assets/images/how-it-work/lines-test.svg) no-repeat;
        }
        /* Screen 02 - How work - How work section - Items
  ======================================================================== */
        .how-work-item {
            position: absolute;
            .number {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: $orange-dark;
                @include border-radius( 50%);
                color: $white;
                font-size: 20px;
                font-weight: 700;
                line-height: 32px;
            }
            .ill {
                display: flex;
                flex-direction: column;
                &:hover ~ .drop-info {
                    visibility: visible;
                    opacity: .93;
                    @include transform( translateX( 0));
                }
            }
            .drop-info {
                position: absolute;
                top: 0;
                visibility: hidden;
                width: 250px;
                padding: 18px 20px;
                @include box-shadow( 0 4px 12px $shadow-color);
                @include border-radius( 8px);
                background-color: $blue-dark;
                opacity: 0;
                @include transform( translateX( 100px));
                @include transition( transform .4s, opacity .3s, visibility .4s);
                color: $white;
                z-index: 40;
            }
            &.start,
            &.four,
            &.fifth,
            &.extra,
            &.sixth,
            &.final {
                .ill {
                    align-items: center;
                }
            }
            &.start,
            &.four,
            &.fifth {
                .number {
                    top: -42px;
                    left: calc( 50% - 16px);
                }
                .drop-info {
                    left: -350px;
                    width: 300px;
                }
            }
            &.first,
            &.second,
            &.third {
                right: 13px;
                .drop-info {
                    left: -308px;
                }
            }
            &.first,
            &.second,
            &.third,
            &.extra {
                .number {
                    top: calc( 50% - 16px);
                    left: -42px;
                }
            }
            /* Screen 02 - How work - How work section - Items - Start
  ======================================================================== */
            &.start {
                top: 117px;
                right: 336px;
            }
            /* Screen 02 - How work - How work section - Items - First
  ======================================================================== */
            &.first {
                top: 105px;
            }
            /* Screen 02 - How work - How work section - Items - Second
  ======================================================================== */
            &.second {
                top: 305px;
                right: 25px;
            }
            /* Screen 02 - How work - How work section - Items - Third
  ======================================================================== */
            &.third {
                top: 502px;
                right: 52px;
            }
            /* Screen 02 - How work - How work section - Items - Four
  ======================================================================== */
            &.four {
                bottom: 0;
                right: 227px;
            }
            /* Screen 02 - How work - How work section - Items - Fifth
  ======================================================================== */
            &.fifth {
                bottom: 0;
                right: 402px;
            }
            /* Screen 02 - How work - How work section - Items - Extra
  ======================================================================== */
            &.extra {
                right: 336px;
                top: 372px;
                .number {
                    background-color: $blue-dark;
                    left: -46px;
                }
            }
            /* Screen 02 - How work - How work section - Items - Final
  ======================================================================== */
            &.final {
                left: -35px;
                bottom: 0;
                .number {
                    top: calc( 50% - 50px);
                    right: -50px;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

/* Screen 02 < 1140
  ======================================================================== */

@media screen and ( max-width: 1140px) {
    .homepage--second-screen {
        padding: 0 40px 107px;
        /* Screen 02 - How work - Text section
  ======================================================================== */
        .text-section {
            position: relative;
            width: 100%;
            br {
                display: none;
            }
        }
        /* Screen 02 - How work - How work section
  ======================================================================== */
        .how-work-section {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 40px auto 0;
            width: 100%;
            max-width: 720px;
            height: auto;
            .bg {
                display: none;
            }
            /* Screen 02 - How work - How work section - Items
  ======================================================================== */
            .how-work-item {
                position: initial;
                display: flex;
                flex-direction: column;
                align-items: center;
                .ill {
                    &:hover+.drop-info {
                        visibility: hidden;
                    }
                }
                .img {
                    text-align: center;
                }
                .drop-info {
                    display: none;
                }
                &.start,
                &.first,
                &.second,
                &.third,
                &.four,
                &.fifth {
                    top: auto;
                    left: auto;
                    right: auto;
                    width: 30%;
                    margin-bottom: 40px;
                    .number {
                        position: relative;
                        top: auto;
                        left: auto;
                        bottom: auto;
                        margin-top: 16px;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Start
  ======================================================================== */
                &.start,
                &.third,
                &.extra,
                &.final {
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                    }
                }
                &.start,
                &.third,
                &.final {
                    &:before {
                        height: 2px;
                        background-color: $orange-main;
                    }
                }
                &.start {
                    &:before {
                        top: 183px;
                        left: 123px;
                        width: calc( 100vw - ( 50% - 360px));
                    }
                }
                /* Screen 02 - How work - How work section - Items - Third
  ======================================================================== */
                &.third {
                    &:before {
                        top: 423px;
                        left: calc( 360px - 50vw);
                        width: 100vw;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Extra
  ======================================================================== */
                &.extra {
                    position: absolute;
                    right: 48px;
                    top: auto;
                    bottom: 0;
                    &:before {
                        top: -190px;
                        width: 2px;
                        height: 150px;
                        z-index: -1;
                        background-color: $blue-main;
                    }
                    .number {
                        top: -40px;
                        left: calc( 50% - 16px);
                    }
                }
                /* Screen 02 - How work - How work section - Items - Final
  ======================================================================== */
                &.final {
                    position: relative;
                    left: 128px;
                    right: 0px;
                    bottom: 0px;
                    &:before {
                        top: 197px;
                        left: calc( 230px - 50vw);
                        width: calc( 50vw - 230px);
                    }
                    .number {
                        top: 178px;
                        left: -40px;
                        right: auto;
                    }
                }
            }
        }
    }
}

/* Screen 02 < 800
  ======================================================================== */

@media screen and ( max-width: 800px) {
    .homepage--second-screen {
        padding: 0 40px 107px;
        /* Screen 02 - How work - How work section
  ======================================================================== */
        .how-work-section {
            .how-work-item {
                /* Screen 02 - How work - How work section - Items - Start
  ======================================================================== */
                &.start {
                    &:before {
                        left: -40px;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Third
  ======================================================================== */
                &.third {
                    &:before {
                        left: -40px;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Extra
  ======================================================================== */
                &.extra {
                    right: 5.8%;
                }
                /* Screen 02 - How work - How work section - Items - Final
  ======================================================================== */
                &.final {
                    left: 17.8%;
                    &:before {
                        left: calc( 180px - 50vw);
                        width: calc( 50vw - 200px);
                    }
                }
            }
        }
    }
}

/* Screen 02 < 640
  ======================================================================== */

@media screen and ( max-width: 640px) {
    .homepage--second-screen {
        padding: 0 16px 60px !important;
        /* Screen 02 - How work - How work section
  ======================================================================== */
        .how-work-section {
            margin: 30px auto 0;
            /* Screen 02 - How work - How work section - Items
  ======================================================================== */
            .how-work-item {
                .img img {
                    width: 80px;
                    height: 80px;
                }
                &.start,
                &.first,
                &.second,
                &.third,
                &.four,
                &.fifth {
                    width: 50%;
                }
                /* Screen 02 - How work - How work section - Items - Start
  ======================================================================== */
                &.start {
                    &:before {
                        top: 137px;
                        left: 25%;
                        z-index: -1;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Third
  ======================================================================== */
                &.third {
                    &:before {
                        top: 331px;
                        left: -16px;
                        z-index: -1;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Four
  ======================================================================== */
                &.four {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 525px;
                        left: -16px;
                        display: block;
                        width: 100vw;
                        height: 2px;
                        background-color: $orange-main;
                    }
                }
                /* Screen 02 - How work - How work section - Items - Extra
  ======================================================================== */
                &.extra {
                    display: none;
                }
                /* Screen 02 - How work - How work section - Items - Final
  ======================================================================== */
                &.final {
                    position: relative;
                    left: 27%;
                    right: 0px;
                    bottom: 0px;
                    .img img {
                        width: 200px;
                        height: 140px;
                    }
                    &:before {
                        top: 153px;
                        left: -54vw;
                        width: 52vw;
                    }
                    .number {
                        top: 134px;
                        left: -40px;
                        right: auto;
                    }
                }
            }
        }
    }
}

/* Screen 03 - Power for
  ======================================================================== */

.homepage--three-screen {
    padding: 50px 0 80px;
    border-top: $border-grey;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .power-item {
        display: flex;
        flex-direction: column;
        width: calc( 50% - 30px);
        &:last-child {
            margin-left: 60px;
        }
        /* Screen 03 - Image section
  ======================================================================== */
        .img-section {
            border-bottom: 2px solid transparent;
            text-align: center;
            img {
                width: 100%;
            }
            .title-box {
                position: relative;
                top: 20px;
            }
            &.orange-line {
                border-color: $orange-main;
            }
            &.blue-line {
                border-color: $blue-main;
            }
        }
        .list-section,
        .how-to-get-section {
            position: relative;
            padding-left: 72px;
            &:before {
                content: '';
                position: absolute;
                left: 34px;
                bottom: 0;
                display: block;
                width: 2px;
            }
            li {
                position: relative;
                padding: 20px 0 22px;
                border-bottom: $border-grey;
                &:before {
                    content: '';
                    position: absolute;
                    top: 20px;
                    left: -53px;
                    width: 28px;
                    height: 28px;
                    @include border-radius( 50%);
                    border: 2px solid transparent;
                    background-color: $white;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        /* Screen 03 - List section
  ======================================================================== */
        .list-section {
            padding-bottom: 32px;
            &:before {
                top: 34px;
            }
            a {
                display: block;
                padding: 22px 0;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                svg {
                    position: relative;
                    left: 6px;
                }
            }
        }
        /* Screen 03 - How to get started
  ======================================================================== */
        .how-to-get-section {
            flex: 1;
            padding-bottom: 50px;
            &:before {
                top: 0;
            }
            ul {
                counter-reset: how-to-get;
            }
            li:before {
                content: counter(how-to-get);
                counter-increment: how-to-get;
                background: $white !important;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;
            }
            .title-box {
                padding-bottom: 12px;
                border-bottom: $border-grey;
            }
        }
        /* Screen 03 - Button box
  ======================================================================== */
        .button-box {
            position: relative;
            display: flex;
            justify-content: center;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 34px;
                display: block;
                width: 137px;
                height: 25px;
                z-index: -1;
            }
        }
        /* Screen 03 - for orange
  ======================================================================== */
        &.orange {
            .list-section,
            .how-to-get-section {
                &:before {
                    background-color: $orange-light;
                }
                li:before {
                    color: $orange-light;
                    border-color: $orange-light;
                    background-image: url(https://cdn2.hubspot.net/hubfs/3048376/assets/images/check-orange.svg);
                }
                a {
                    color: $orange-dark;
                    svg {
                        fill: $orange-dark;
                    }
                }
            }
            .button-box {
                &:before {
                    background: url(https://cdn2.hubspot.net/hubfs/3048376/assets/images/power-for-orange.svg) no-repeat;
                }
            }
        }
        /* Screen 03 - for blue
  ======================================================================== */
        &.blue {
            .list-section,
            .how-to-get-section {
                &:before {
                    background-color: #9FB0F4;
                }
                li:before {
                    color: #9FB0F4;
                    border-color: #9FB0F4;
                    background-image: url(https://cdn2.hubspot.net/hubfs/3048376/assets/images/check-blue.svg);
                }
                a {
                    color: $blue-dark;
                    svg {
                        fill: $blue-dark;
                    }
                }
            }
            .button-box {
                &:before {
                    background: url(https://cdn2.hubspot.net/hubfs/3048376/assets/images/power-for-blue.svg) no-repeat;
                }
            }
        }
    }
}

/* Screen 03 < 1140
  ======================================================================== */

@media screen and ( max-width: 1140px) {
    .homepage--second-screen {
        padding: 0 40px 107px;
    }
}

/* Screen 03 < 860
  ======================================================================== */

@media screen and ( max-width: 860px) {
    .homepage--three-screen {
        padding: 50px 40px 80px;
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        .power-item {
            display: block;
            width: 100%;
            max-width: 540px;
            &:last-child {
                margin: 40px 0 0;
            }
        }
    }
}

/* Screen 03 < 640
  ======================================================================== */

@media screen and ( max-width: 640px) {
    .homepage--three-screen {
        padding: 24px 0 50px;
        .power-item {
            &:last-child {
                margin: 24px 0 0;
            }
            .list-section,
            .how-to-get-section {
                li {
                    padding-right: 16px;
                    &:before {
                        top: 16px;
                    }
                }
            }
            /* Screen 03 - List section
  ======================================================================== */
            .list-section {
                a {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }
    }
}

/* Screen 04
  ======================================================================== */

.homepage--four-screen {
    padding: 65px 0 80px;
    border-top: $border-grey;
    border-bottom: $border-grey;
    text-align: center;
    .title {
        padding-bottom: 40px;
        text-align: center;
    }
    .subtitle {
        padding-bottom: 50px;
        text-align: center;
    }
    .brands{
        &-outer{
            padding-bottom: 25px;
        }
        &-section {
            padding-bottom: 25px;
        }
    }
}

/* Screen 04 < 1140
  ======================================================================== */

@media screen and ( max-width: 1140px) {
    .homepage--four-screen {
        padding: 65px 40px 80px;
    }
}

/* Screen 04 < 760
  ======================================================================== */

@media screen and ( max-width: 760px) {
    br {
        display: none;
    }
}

/* Screen 04 < 480
  ======================================================================== */

@media screen and ( max-width: 480px) {
    .homepage--four-screen {
        padding: 40px 16px 50px;
        .title {
            padding-bottom: 20px;
            text-align: left;
        }
        .subtitle {
            padding-bottom: 40px;
            text-align: left;
        }
        .brands-section {
            padding-bottom: 40px;
        }
    }
}

/* Screen 05
  ======================================================================== */

.homepage--five-screen {
    padding: 66px 0 50px;
    border-bottom: $border-grey;
    overflow: hidden;
    .wrapper{
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
    /* Screen 05 - Interests box
  ======================================================================== */
    .interests-box-wrapper {
        float: right;
        width: 560px;
        height: 390px;
        padding: 0 0 40px 40px;
        background-color: $grey-bg;
        position: relative;
        @media screen and (max-width: 1199px) {
            margin-left: 50px;
        }
        >img {
            width: 145%;
            margin-left: -24%;
            max-width: none;
        }
        .screen-box {
            overflow: hidden;
            position: absolute;
            top: 28px;
            left: 42px;
            right: 23px;
            bottom: 53px;
            z-index: 100;
            background-color: #fff;
        }
    }

    .report-treemap {
        background: #e3e4e6;
        font-weight: 300;
        &-navigation {
            padding: 6px 10px 4px;
            font-size: 12px;
            line-height: 17px;
            white-space: nowrap;
            a {
                color: #4c87cd;
                text-decoration: underline;
                cursor: pointer;
            }
            span {
                &::after {
                    content: " >> ";
                }
                &:last-child::after {
                    content: "";
                }
            }
        }
    }

    .treemap-container {
        position: absolute;
        top: 27px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 -20px;
        padding: 0 20px;
        overflow-y: hidden;
        overflow-x: auto;
        svg {
            overflow: hidden;
            background: #e3e4e6;
        }
        &.touch g:hover>rect.foreground {
            fill-opacity: 0;
        }
    }

    g {
        &.root {
            shape-rendering: crispEdges;
            &.animation {
                shape-rendering: optimizeSpeed;
            }
        }
        &:hover>rect {
            &.foreground {
                fill-opacity: 0.2;
                fill: black;
            }
            &.show-parent-topic+rect.foreground {
                fill-opacity: 0;
            }
        }
    }

    rect {
        fill: none;
        stroke-width: 1px;
        stroke: #fff;
        &.border-stroke {
            stroke-width: 2px;
        }
    }

    .children {
        cursor: pointer;
        &.show-parent-topic {
            cursor: default;
        }
        rect {
            &.parent {
                stroke-width: 2px;
            }
            &.child {
                stroke-opacity: 0.3;
            }
            &.show-parent-topic {
                fill: #dbdbdb;
            }
        }
    }

    text {
        font-size: 1.8em;
        fill: #fff;
        pointer-events: none;
    }

    @keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(3deg);
        }
        75% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .treemap-hint {
        position: absolute;
        background-image: url(https://cdn2.hubspot.net/hubfs/3048376/assets/images/hint_baloon.png?t=1526875186821);
        background-repeat: no-repeat;
        background-position: center;
        left: calc(50% - 198px);
        top: 15%;
        z-index: 101;
        width: 396px;
        height: 188px;
        cursor: pointer;
        transition: opacity 0.2s ease-out, transform 1s ease-out;
        &.wiggle {
            animation: wiggle .33s 3;
        }
        &.hidden {
            opacity: 0;
            transform: scale(0);
        }
        &-text {
            position: absolute;
            line-height: 31px;
            text-align: center;
            font-size: 20px;
            color: #656565;
            left: 48px;
            top: 49px;
            width: 300px;
        }
    }

    blockquote {
        display: block;
        margin-bottom: 25px;
    }

    p{
        padding-bottom: 30px;
    }
    /* Screen 05 - Title
  ======================================================================== */
    .title,
    blockquote {
        padding-bottom: 25px;
    }

    .interests{
        display: flex;
        align-items: flex-end;
        padding-top: 45px;
        @media screen and (max-width: 1023px){
            padding-top: 130px;
        }
        @media screen and ( max-width: 640px) {
            padding-top: 0;
        }
        &_img{
            margin-right: 44px;
            flex: 0 0 47%;
            @media screen and (max-width: 1023px) {
                flex: 1 1 auto;
                margin: auto;
            }
            img{
                max-width: 100%;
                @media screen and ( max-width: 640px) {
                    display: none;
                }
            }
        }
        &_content{
            h3, h4{
                font-weight: 700;
            }
            h3{
                margin-bottom: 30px;
            }
            .paragraph{
                padding-bottom: 25px;
            }
        }
    }
}

/* Screen 05 < 1140
  ======================================================================== */

@media screen and ( max-width: 1140px) {
    .homepage--five-screen {
        padding: 66px 40px 44px;
    }
}

/* Header < 1024
  ======================================================================== */

@media screen and ( max-width: 1023px) {
    .homepage--five-screen {
        .wrapper {
            display: flex;
            flex-direction: column;
        }
        /* Screen 05 - Interests box
  ======================================================================== */
        .interests-box-wrapper {
            order: 2;
            float: none;
            width: 100%;
            padding: 30px 0;
            margin: 0;
            >img {
                width: 100%;
                margin-left: 0;
            }
            .screen-box {
                top: calc(6vw + 4px);
                right: 15vw;
                left: 15vw;
                height: 38vw;
            }
        }
    }
}

/* Header < 640
  ======================================================================== */

@media screen and ( max-width: 640px) {
    .homepage--five-screen {
        .interests-box-wrapper {
            display: none;
        }
    }
}

/* Header < 480
  ======================================================================== */

@media screen and ( max-width: 480px) {
    .homepage--five-screen {
        padding: 36px 16px 16px;
        p {
            padding-bottom: 22px;
        }
    }
}

/* Screen 06
  ======================================================================== */

.homepage--six-screen {
    padding: 65px 0 80px;
    .title {
        padding-bottom: 73px;
        text-align: center;
    }
    .items-wrapper {
        display: flex;
        .item-box {
            display: flex;
            flex-direction: column;
            width: calc( 50% - 10px);
            &:nth-child(even) {
                margin-left: 20px;
            }
            /* Screen 06 - Card image box
  ======================================================================== */
            .img-section {
                border-bottom: 2px solid transparent;
                text-align: center;
                img {
                    width: 100%;
                }
                .title-box {
                    position: relative;
                    top: 20px;
                }
                &.orange-line {
                    border-color: $orange-main;
                }
                &.blue-line {
                    border-color: $blue-main;
                }
            }
            /* Screen 06 - Text box
  ======================================================================== */
            .content-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 20px 20px 32px;
                .text-box {
                    flex: 1;
                    padding-bottom: 24px;
                }
                .button-box {
                    text-align: center;
                }
            }
        }
    }
}

/* Screen 06 < 1140
  ======================================================================== */

@media screen and ( max-width: 1140px) {
    .homepage--six-screen {
        padding: 65px 40px 80px;
    }
}

/* Screen 06 < 800
  ======================================================================== */

@media screen and ( max-width: 800px) {
    .homepage--six-screen {
        .items-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .item-box {
                width: 100%;
                max-width: 550px;
                &:nth-child(even) {
                    margin: 20px 0 0 0;
                }
                /* Screen 06 - Text box
  ======================================================================== */
                .content-section {
                    height: auto;
                }
            }
        }
    }
}

/* Screen 06 < 480
  ======================================================================== */

@media screen and ( max-width: 480px) {
    .homepage--six-screen {
        padding: 40px 16px 50px;
        .title {
            padding-bottom: 46px;
        }
        .items-wrapper {
            .item-box {
                /* Screen 06 - Text box
  ======================================================================== */
                .content-section {
                    padding: 20px 16px 32px;
                }
            }
        }
    }
}